#accordion ul {
  list-style-type: none;
  padding-left: 0; }
  #accordion ul li {
    display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid RGB(245, 245, 245); }
    #accordion ul li a {
      display: inline-block; }
      #accordion ul li a, #accordion ul li a:hover {
        text-decoration: none; }
