body {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  margin-bottom: 60px; }

html {
  position: relative;
  min-height: 100%; }

ul, li, p, a, h1, h2, h3, h4 {
  list-style: none;
  padding: 0;
  margin: 0; }

.table-center tr th, .table-center .table-list-row .shopping-table-list table tr td, .table-list-row .shopping-table-list table .table-center tr td {
  text-align: center; }

.table-center tr td {
  text-align: center; }

.padding-clear {
  padding: 0; }

.margin-clear {
  margin: 0; }

.btn-cancel {
  color: #fff;
  background-color: #b4b4b4;
  border-color: #b4b4b4; }

.red {
  color: #fe462f; }

.go-history {
  padding: 10px 0; }

/*======================================login begin======================================*/
.login-nav {
  margin: 0; }
  .login-nav .nav-title li {
    display: inline-block;
    padding: 20px; }
    .login-nav .nav-title li a {
      display: inline-block;
      vertical-align: middle;
      color: #000; }
      .login-nav .nav-title li a:hover {
        background-color: transparent; }
      .login-nav .nav-title li a.logo-icon img {
        width: 50px;
        height: 45px; }

.login-banner-slide .carousel-inner img {
  width: 100%;
  height: 480px; }

.login-content {
  position: relative; }
  .login-content .login-wrap {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 3px #777777;
    bottom: 20%;
    padding: 20px 0;
    right: 3%;
    width: 360px;
    border-radius: 4px; }
    .login-content .login-wrap .alert-item {
      padding: 0 25px; }
      .login-content .login-wrap .alert-item .alert-warning {
        display: none;
        padding: 5px;
        margin: 0; }
    .login-content .login-wrap .item {
      padding: 15px 25px; }
      .login-content .login-wrap .item .enter-item {
        border: 1px solid #e0e0e0;
        padding: 5px;
        vertical-align: middle; }
        .login-content .login-wrap .item .enter-item:first-of-type {
          margin-bottom: 20px; }
        .login-content .login-wrap .item .enter-item input {
          padding: 5px;
          width: 90%;
          border: none;
          outline: none; }
      .login-content .login-wrap .item h1 {
        font-size: 20px; }
      .login-content .login-wrap .item a {
        color: #555555; }
        .login-content .login-wrap .item a.reg {
          text-decoration: underline;
          color: #4cb9fe; }
      .login-content .login-wrap .item .icon {
        width: 18px;
        height: 18px;
        background: url("../images/login.png");
        vertical-align: middle; }
        .login-content .login-wrap .item .icon.icon-name {
          background-position: left; }
        .login-content .login-wrap .item .icon.icon-password {
          background-position: -98px 0; }
      .login-content .login-wrap .item .role {
        width: 25%;
        padding: 5px 0; }
      .login-content .login-wrap .item .login-btn {
        width: 100%;
        padding: 6px 0; }

.login-footer {
  background-color: #fff;
  border: none;
  padding: 30px 15px; }

/*======================================login end======================================*/
/*======================================guide end======================================*/
.guide-content {
  background: url("../images/banner.jpg") top no-repeat;
  background-size: cover;
  min-height: 600px;
  min-width: 1200px;
  position: relative; }
  .guide-content .content-panel {
    position: absolute;
    width: 600px;
    bottom: 80px;
    left: 50%;
    margin-left: -300px;
    vertical-align: text-bottom; }
    .guide-content .content-panel .tabs-item {
      float: left;
      width: 25%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      text-align: center;
      cursor: pointer; }
      .guide-content .content-panel .tabs-item:hover {
        text-decoration: none; }
        .guide-content .content-panel .tabs-item:hover .item-icon {
          border: 2px solid #fff; }
        .guide-content .content-panel .tabs-item:hover .item-name {
          color: #fff; }
      .guide-content .content-panel .tabs-item .item-icon {
        display: inline-block;
        border-radius: 50%;
        min-height: 94px;
        padding: 5px; }
        .guide-content .content-panel .tabs-item .item-icon .icon {
          display: inline-block;
          vertical-align: middle;
          background: url("../images/guide-icons.png") no-repeat;
          background-size: cover;
          width: 80px;
          height: 80px; }
          .guide-content .content-panel .tabs-item .item-icon .icon.icon-car {
            background-position: 0 1px; }
          .guide-content .content-panel .tabs-item .item-icon .icon.icon-wholesalers {
            background-position: 0 -117px; }
          .guide-content .content-panel .tabs-item .item-icon .icon.icon-shopping-cart {
            background-position: 0 -234px; }
          .guide-content .content-panel .tabs-item .item-icon .icon.icon-books {
            background-position: 0 -352px; }
      .guide-content .content-panel .tabs-item .item-name {
        display: block;
        color: #222222;
        font-size: 18px;
        margin-top: 10px;
        font-weight: 700;
        letter-spacing: 2px; }

.guide-footer {
  min-width: 1200px; }
  .guide-footer .content p {
    width: 70%;
    margin: auto;
    text-align: left; }

/*======================================guide end======================================*/
/*======================================step begin======================================*/
.ui-stepBar-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
  z-index: 100; }
  .ui-stepBar-wrap .ui-stepBar {
    position: relative;
    width: 90%;
    height: 5px;
    background: #b4b4b4;
    top: 50px;
    left: 6%;
    z-index: 101; }
    .ui-stepBar-wrap .ui-stepBar .ui-stepProcess {
      position: relative;
      width: 0;
      height: 5px;
      background: #4cb9fe;
      top: 0;
      left: 0;
      z-index: 102; }
  .ui-stepBar-wrap .ui-stepInfo-wrap {
    margin: 0 auto;
    width: 90%;
    height: 100%; }
    .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo {
      position: relative;
      float: left;
      padding-top: 36px;
      text-align: center; }
      .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence {
        position: relative;
        padding: 1px 10px;
        border-radius: 50%;
        z-index: 103; }
      .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepName {
        position: relative;
        line-height: 50px;
        z-index: 103; }
      .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change {
        cursor: pointer; }
        .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change:hover {
          box-shadow: 0 0 3px 1px #4cb9fe; }
      .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change {
        cursor: pointer; }
        .ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change:hover {
          box-shadow: 0 0 3px 1px #b4b4b4; }

.judge-stepSequence-pre {
  background: #4cb9fe;
  color: #fff; }

.judge-stepSequence-hind {
  background: #b4b4b4;
  color: #000; }

.author {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  color: #1569ec;
  text-shadow: 1px 1px 0 #e7e7e7, 0 1px 7px #fff; }

/*======================================step begin======================================*/
/*==================================================================================wholesalers begin======================================================================*/
/*======================================header begin======================================*/
.logo {
  padding-bottom: 10px;
  padding-top: 10px; }

.logo-icon {
  display: inline-block; }
  .logo-icon img {
    width: 80px;
    height: 50px; }

.dealer-header .logo-icon {
  padding-top: 8px; }

.wholesalers-top-header .right-search, .wholesalers-top-header .wholesalers-management .pay-detail, .wholesalers-management .wholesalers-top-header .pay-detail {
  padding: 20px 0; }

.shopping-car {
  padding: 20px 0; }

.search .form-control, .public-personal .controls .item .add-goods .form-control {
  outline: none;
  border: 1px solid #4cb9fe; }

#menu-list .menu-list-wrap {
  display: none;
  position: relative;
  width: 100%;
  height: auto; }
  #menu-list .menu-list-wrap .menu-wrap {
    height: auto;
    text-align: center; }
    #menu-list .menu-list-wrap .menu-wrap li {
      padding: 10px 0;
      position: relative;
      z-index: 10; }
  #menu-list .menu-list-wrap .menu-down-layer {
    position: absolute;
    top: 0;
    left: inherit;
    right: -599px;
    width: 600px;
    height: auto;
    text-align: left; }

#other-page-categories li:hover {
  border: 1px solid #4cb9fe;
  border-right-color: #fff; }

.right-search, .wholesalers-management .pay-detail {
  padding: 10px 0; }

.wholesalers-header .container {
  padding: 0; }
  .wholesalers-header .container .collapse {
    padding: 0; }
  .wholesalers-header .container .active a.list-name {
    color: #fff;
    background-color: #4cb9fe; }
  .wholesalers-header .container .navbar-nav li {
    padding: 0; }
    .wholesalers-header .container .navbar-nav li .list-name {
      width: 100%;
      padding: 15px 55px; }
  .wholesalers-header .container .collect .btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    background-color: #fff;
    color: #4cb9fe;
    vertical-align: middle; }

.panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.modal .address-wrap {
  height: 80px;
  padding: 0;
  position: relative; }
  .modal .address-wrap label {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 80px;
    top: 0; }
  .modal .address-wrap textarea {
    width: 70%;
    height: 80%;
    margin-left: 80px;
    margin-top: 10px; }

/*======================================header end======================================*/
/*======================================index begin======================================*/
.list-penal .commodity .commodity-img {
  width: 100%;
  display: inline-block; }

.list-penal .commodity .content-panel {
  padding: 10px 5px;
  background-color: #f2f2f2; }
  .list-penal .commodity .content-panel .commodity-name {
    padding: 10px 0; }
    .list-penal .commodity .content-panel .commodity-name a {
      color: #555555; }
  .list-penal .commodity .content-panel .sell-panel .money {
    color: #fe462f;
    font-weight: bolder; }
  .list-penal .commodity .content-panel .order-count {
    color: #777777; }

.list-penal .commodity-index-img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 20%;
  float: left;
  padding: 0 15px; }

@media screen and (max-width: 765px) {
  .list-penal .commodity-index-img {
    width: 100%; } }

.list-penal .img-wrap {
  position: relative; }
  .list-penal .img-wrap .prompt {
    position: absolute;
    display: inline-block;
    width: 117px;
    height: 117px;
    top: 0;
    left: 0;
    background: url("../images/titles.png") no-repeat left top; }
  .list-penal .img-wrap .lack {
    background-position: 0 0; }
  .list-penal .img-wrap .promotions {
    background-position: 0 -150px; }
  .list-penal .img-wrap .new-listing {
    background-position: 0 -300px; }

.wholesalers-index .left-store-logo .banner .item {
  padding: 0; }
  .wholesalers-index .left-store-logo .banner .item img {
    width: 100%;
    height: 370px;
    max-width: 1000px;
    border: 1px solid #b4b4b4; }

.wholesalers-index .store {
  border-top: 1px dashed #b4b4b4;
  border-bottom: 1px dashed #b4b4b4;
  height: 370px;
  padding: 0; }
  .wholesalers-index .store .store-panel {
    width: 100%;
    padding: 8px 0 15px 0; }
    .wholesalers-index .store .store-panel .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      float: left; }
    .wholesalers-index .store .store-panel .store-msg {
      margin-left: 80px; }
      .wholesalers-index .store .store-panel .store-msg li {
        padding: 1px 0; }
  .wholesalers-index .store .address-panel {
    border-top: 1px dashed #b4b4b4;
    margin-top: -1px; }
    .wholesalers-index .store .address-panel ul {
      padding: 10px 0;
      clear: both; }
      .wholesalers-index .store .address-panel ul .address-panel-item {
        margin-left: 80px; }
        .wholesalers-index .store .address-panel ul .address-panel-item .panel-name {
          display: block;
          color: #777777;
          margin-bottom: 5px; }
        .wholesalers-index .store .address-panel ul .address-panel-item .address-list {
          display: inline-block; }
          .wholesalers-index .store .address-panel ul .address-panel-item .address-list span {
            display: block;
            padding: 2px; }
      .wholesalers-index .store .address-panel ul .icon {
        background: url("../images/address-icon.png") no-repeat center;
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        margin-left: 20px; }
      .wholesalers-index .store .address-panel ul .icon-tel {
        background-position: 0 0; }
      .wholesalers-index .store .address-panel ul .icon-seller {
        background-position: 0 -63px; }
      .wholesalers-index .store .address-panel ul .icon-address {
        background-position: 0 -128px; }

.wholesalers-index .nav-wrap {
  background-color: #f2f2f2;
  margin: 30px 0;
  height: 40px; }
  .wholesalers-index .nav-wrap li {
    padding: 0; }
    .wholesalers-index .nav-wrap li a {
      color: #777777;
      padding: 0 15px;
      line-height: 40px; }
      .wholesalers-index .nav-wrap li a:hover {
        background-color: #f2f2f2; }
  .wholesalers-index .nav-wrap .switching a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 20px; }
    .wholesalers-index .nav-wrap .switching a.active {
      background-color: #f2f2f2;
      color: #4cb9fe;
      border-bottom: 2px solid #4cb9fe; }

/*======================================index end======================================*/
/*======================================my-goods begin======================================*/
.public-personal .controls {
  padding: 20px 0; }
  .public-personal .controls .item {
    background-color: #cae6f7;
    padding: 15px 15px; }
    .public-personal .controls .item .control {
      height: 27px;
      line-height: 13px; }
    .public-personal .controls .item .search, .public-personal .controls .item .add-goods {
      margin-bottom: 3px; }
    .public-personal .controls .item .add-goods {
      margin-left: 50px; }

.sort {
  margin-bottom: 30px;
  color: #777777; }
  .sort .sort-item {
    border: 1px solid #b4b4b4;
    margin-top: -1px;
    padding: 0 5px; }
    .sort .sort-item .title-name {
      display: inline-block;
      padding: 3px 0 0 10px;
      width: 90px;
      text-align: right; }
    .sort .sort-item .all-sort-panel {
      margin-left: 40px; }
      .sort .sort-item .all-sort-panel .all-sort {
        width: 85%;
        padding: 0 6px;
        overflow: hidden; }
        .sort .sort-item .all-sort-panel .all-sort a {
          display: inline-block;
          padding: 3px 5px;
          margin: 2px 10px 5px 10px;
          font-size: 12px;
          color: #000; }
          .sort .sort-item .all-sort-panel .all-sort a.active {
            background-color: #4cb9fe;
            color: #fff; }
            .sort .sort-item .all-sort-panel .all-sort a.active:hover {
              color: #fff; }
          .sort .sort-item .all-sort-panel .all-sort a:hover {
            color: #4cb9fe; }
      .sort .sort-item .all-sort-panel .more {
        display: none;
        padding-right: 5px;
        color: #222222;
        text-decoration: none;
        overflow-y: inherit; }
    .sort .sort-item .sort-list {
      display: inline-block;
      position: relative;
      margin: 0 8px 0 16px; }
      .sort .sort-item .sort-list .list-title {
        padding: 3px 15px 5px 5px;
        position: relative;
        border: 1px solid #fff;
        text-decoration: none; }
        .sort .sort-item .sort-list .list-title.active {
          border: 1px solid #e0e0e0;
          border-bottom-color: #fff;
          background-color: #fff;
          z-index: 10; }
        .sort .sort-item .sort-list .list-title .title-txt {
          display: inline-block;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: top; }
      .sort .sort-item .sort-list .list-wrap {
        display: none;
        position: absolute;
        top: 29px;
        width: 320px;
        z-index: 9;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        margin-top: -1px; }
        .sort .sort-item .sort-list .list-wrap.scroll-height {
          max-height: 350px;
          overflow-y: scroll; }
        .sort .sort-item .sort-list .list-wrap a {
          float: left;
          width: 30%;
          padding: 5px;
          font-size: 12px;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
          .sort .sort-item .sort-list .list-wrap a:hover {
            color: #4cb9fe; }
      .sort .sort-item .sort-list .last-category {
        border: 1px dashed #4cb9fe;
        color: #4cb9fe; }
        .sort .sort-item .sort-list .last-category:hover {
          border-style: solid; }
    .sort .sort-item .all-results {
      padding-top: 4px; }
      .sort .sort-item .all-results .fa-th-large {
        color: #4cb9fe; }
    .sort .sort-item a {
      display: inline-block;
      color: #000;
      padding: 0 15px; }
  .sort .sort-item-panel .list-wrap {
    z-index: 10; }
  .sort .a-menu-panel .sort-list {
    margin: 0 3px; }
    .sort .a-menu-panel .sort-list .list-title.active {
      border: 1px solid #fff;
      border-bottom: none;
      color: #4cb9fe; }
    .sort .a-menu-panel .sort-list .list-wrap {
      margin-top: 0;
      border: 3px solid #d2d2d2;
      width: 400px; }
      .sort .a-menu-panel .sort-list .list-wrap a {
        color: #777777; }
  .sort .a-menu-panel .fa-angle-right {
    color: #d2d2d2; }
  .sort .sort-name, .sort .package {
    margin-top: -1px; }

.public-personal .menu {
  text-align: center;
  padding: 0; }
  .public-personal .menu a {
    color: #000;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none; }
  .public-personal .menu .go-back, .public-personal .menu .name {
    padding: 10px 5px;
    width: 60%;
    display: inline-block;
    border: 1px solid #b4b4b4; }
  .public-personal .menu .name .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .public-personal .menu .dealer-menu-list {
    text-align: center; }
    .public-personal .menu .dealer-menu-list .list-item {
      color: #000; }
  .public-personal .menu .menu-list {
    border: 1px solid #b4b4b4;
    width: 60%;
    margin: -1px auto auto auto; }
    .public-personal .menu .menu-list .menu-wrap {
      display: none;
      margin-left: 20px; }
      .public-personal .menu .menu-list .menu-wrap li {
        text-align: left;
        padding-left: 15px; }
    .public-personal .menu .menu-list .active {
      color: #4cb9fe; }

/*======================================my-goods end======================================*/
/*======================================goods-detail begin======================================*/
.goods-detail .operating {
  padding: 10px 0;
  line-height: 33px; }
  .goods-detail .operating .btn-list {
    padding: 0; }
    .goods-detail .operating .btn-list .btn-remove {
      color: #fff;
      background-color: #b4b4b4; }

.goods-detail .good-wrap {
  border: 1px solid #e0e0e0;
  padding: 10px 0; }
  .goods-detail .good-wrap .commodity-img {
    padding-top: 5px; }
    .goods-detail .good-wrap .commodity-img .commodity {
      width: 90%;
      height: 90%; }
  .goods-detail .good-wrap .detail-list-wrap .store-name, .goods-detail .good-wrap .detail-list-wrap li {
    padding: 5px 0; }
  .goods-detail .good-wrap .detail-list-wrap .left-list {
    margin-right: 50px; }

.goods-detail .delivery-wrap {
  padding: 15px 0; }
  .goods-detail .delivery-wrap .switching {
    padding: 0;
    border: 1px solid #b4b4b4; }
    .goods-detail .delivery-wrap .switching a {
      display: inline-block;
      height: 33px;
      line-height: 33px;
      padding: 0 15px;
      border-left: 1px solid #b4b4b4;
      border-right: 1px solid #b4b4b4;
      margin-left: -1px;
      color: #555555; }
      .goods-detail .delivery-wrap .switching a:last-of-type {
        margin-left: -5px; }
      .goods-detail .delivery-wrap .switching a.active {
        color: #5bc0de;
        border-bottom: 3px solid #4cb9fe; }
  .goods-detail .delivery-wrap .location {
    padding: 0; }
    .goods-detail .delivery-wrap .location p {
      padding: 5px 0; }
      .goods-detail .delivery-wrap .location p input {
        width: 30%; }
      .goods-detail .delivery-wrap .location p .address-map {
        width: 30%;
        height: 250px; }

.goods-detail .box {
  display: none; }

.goods-detail .graphic-details {
  padding: 15px; }

.goods-detail .left-store-logo .banner .item img {
  height: 300px; }

.goods-detail .store-detail-wrap h3 {
  padding: 0 0 20px 0;
  border-bottom: 1px dashed #777777; }

.goods-detail .store-detail-wrap li {
  padding: 10px 0; }

.goods-detail .store-detail-wrap .information li {
  padding: 5px 0; }
  .goods-detail .store-detail-wrap .information li .title-name {
    display: inline-block;
    width: 85px;
    text-align: right;
    padding-right: 10px; }
  .goods-detail .store-detail-wrap .information li .content {
    display: inline-block;
    width: 85%; }
  .goods-detail .store-detail-wrap .information li .stores-img {
    width: 60px;
    height: 60px; }

.goods-detail .store-detail-wrap .left-panel {
  width: 30%; }

.goods-detail .store-detail-wrap .right-panel {
  width: 70%; }
  .goods-detail .store-detail-wrap .right-panel .count {
    padding: 1px 5px;
    font-size: 16px; }
    .goods-detail .store-detail-wrap .right-panel .count:hover {
      color: #fff; }
  .goods-detail .store-detail-wrap .right-panel .collect {
    color: #4cb9fe; }
  .goods-detail .store-detail-wrap .right-panel .amount {
    width: 25%;
    padding: 3px 0;
    vertical-align: middle; }

.goods-detail .title-name {
  color: #777777; }

.goods-detail .address-wrap {
  padding: 0 0 20px 30px; }
  .goods-detail .address-wrap .item {
    margin: 10px 0; }
    .goods-detail .address-wrap .item .address-list li {
      padding: 0 0 5px 0;
      text-indent: 30px; }
    .goods-detail .address-wrap .item .map {
      max-width: 500px;
      max-height: 380px;
      text-indent: 30px; }

/*======================================goods-detail end======================================*/
/*======================================goods-editor begin======================================*/
.upload-progress-wrap .upload-img-item, .goods-editor .content-wrap .upload-wrap .upload-img-item {
  position: relative;
  display: inline-block; }
  .upload-progress-wrap .upload-img-item .img-item, .goods-editor .content-wrap .upload-wrap .upload-img-item .img-item {
    position: relative; }
    .upload-progress-wrap .upload-img-item .img-item .show, .goods-editor .content-wrap .upload-wrap .upload-img-item .img-item .show {
      display: inline-block; }
    .upload-progress-wrap .upload-img-item .img-item .inp-checkbox, .goods-editor .content-wrap .upload-wrap .upload-img-item .img-item .inp-checkbox {
      position: absolute;
      display: inline-block;
      right: 5px;
      top: 5px;
      width: 20px;
      height: 20px;
      border: 1px solid #f2f2f2;
      line-height: 13px;
      font-size: 17px;
      vertical-align: middle;
      cursor: pointer; }
  .upload-progress-wrap .upload-img-item .file-name, .goods-editor .content-wrap .upload-wrap .upload-img-item .file-name {
    position: absolute;
    top: 0; }
  .upload-progress-wrap .upload-img-item .progress-wrap, .goods-editor .content-wrap .upload-wrap .upload-img-item .progress-wrap {
    margin: 8px 0 7px 20%;
    width: 50%;
    height: 10px; }

.load-img-wrap .thumbnail, .goods-imgs .thumbnail {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 19%;
  float: left;
  margin-right: 3px; }

.upload-item, .goods-editor .content-wrap .item {
  background-color: #e0e0e0;
  border-radius: 1px;
  padding: 0 10px;
  width: 60%;
  height: 25px;
  margin: 5px 0;
  line-height: 25px; }
  .upload-item .remove, .goods-editor .content-wrap .item .remove, .upload-item span, .goods-editor .content-wrap .item span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: #000; }

.goods-editor .attr {
  border: 1px solid #b4b4b4;
  padding: 5px 0 5px 38px; }
  .goods-editor .attr .items-item {
    display: inline-block;
    padding: 5px 20px 5px 0; }

.goods-editor .editor-panel .editor-wrap {
  padding: 10px 15px; }
  .goods-editor .editor-panel .editor-wrap .editor-item {
    padding: 5px 0;
    margin: 0; }
    .goods-editor .editor-panel .editor-wrap .editor-item .narrow {
      width: 80px; }
    .goods-editor .editor-panel .editor-wrap .editor-item .items-item {
      display: inline-block;
      padding-right: 40px;
      position: relative; }
      .goods-editor .editor-panel .editor-wrap .editor-item .items-item .checks {
        display: inline-block;
        width: 60px; }
  .goods-editor .editor-panel .editor-wrap .promotions-msg {
    height: 80px;
    position: relative; }
    .goods-editor .editor-panel .editor-wrap .promotions-msg label {
      height: 100%;
      display: inline-block;
      position: absolute;
      line-height: 80px;
      top: 0; }
    .goods-editor .editor-panel .editor-wrap .promotions-msg textarea {
      margin-left: 70px;
      width: 65%;
      height: 100%; }

.goods-editor .editor-panel .right-save {
  padding: 15px 0; }
  .goods-editor .editor-panel .right-save .btn {
    padding: 5px 30px; }

.goods-editor .content-wrap .add-address, .goods-editor .content-wrap .upload-img {
  margin: 15px 0; }

.goods-editor .content-wrap .address-list {
  margin-top: 5px; }
  .goods-editor .content-wrap .address-list div {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-top: 4px;
    padding: 5px;
    color: #808080; }

.goods-editor .content-wrap .pictures {
  margin-top: 10px; }

.goods-editor .content-wrap .map {
  margin: 10px 0; }

.upload {
  display: inline-block;
  position: relative; }
  .upload input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }

.goods-editor .content-wrap .preview-wrap, .goods-editor .content-wrap .graphic-wrap {
  padding: 15px; }
  .goods-editor .content-wrap .preview-wrap p, .goods-editor .content-wrap .graphic-wrap p {
    padding: 10px 0; }

.goods-editor .content-wrap .graphic-wrap textarea {
  width: 80%;
  height: 100px; }

/*======================================goods-editor end======================================*/
/*======================================wholesalers-management begin======================================*/
table .product-name {
  margin-left: 10px;
  color: #555555;
  display: inline-block;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.wholesalers-management .notice-bar {
  padding: 0;
  border-bottom: 1px solid #4cb9fe; }
  .wholesalers-management .notice-bar .btn {
    color: #555555;
    font-weight: bold; }
  .wholesalers-management .notice-bar .btn-primary {
    color: #fff; }

.wholesalers-management .pay-detail .item {
  display: inline-block;
  padding: 3px 25px 3px 0;
  font-size: 12px; }
  .wholesalers-management .pay-detail .item input {
    width: 80px; }
  .wholesalers-management .pay-detail .item .control {
    padding: 5px 0; }

.wholesalers-management .order-management .control-item {
  width: 28%; }
  .wholesalers-management .order-management .control-item .control {
    width: 60%; }

.wholesalers-management .order-management .right {
  padding-top: 12px; }
  .wholesalers-management .order-management .right .control {
    width: 40%;
    padding: 5px 0;
    vertical-align: middle; }
  .wholesalers-management .order-management .right .btn-cancel {
    color: #555555; }

.wholesalers-management .order-form-list {
  border: 1px solid #cae6f7;
  margin-top: 10px;
  margin-bottom: 10px; }
  .wholesalers-management .order-form-list div {
    height: 100%; }
  .wholesalers-management .order-form-list .list-title {
    padding: 10px 15px;
    background-color: #cae6f7; }
    .wholesalers-management .order-form-list .list-title span {
      margin-left: 15px; }
  .wholesalers-management .order-form-list .list-content li {
    padding: 15px; }
    .wholesalers-management .order-form-list .list-content li span {
      display: inline-block;
      margin-left: 15%; }
  .wholesalers-management .order-form-list .order-form-operating p, .wholesalers-management .order-form-list .order-form-detail p {
    padding: 5px 0;
    line-height: 20px; }
    .wholesalers-management .order-form-list .order-form-operating p:first-of-type, .wholesalers-management .order-form-list .order-form-detail p:first-of-type {
      margin-top: 45px; }
    .wholesalers-management .order-form-list .order-form-operating p .btn, .wholesalers-management .order-form-list .order-form-detail p .btn {
      padding: 5px 20px; }
  .wholesalers-management .order-form-list .order-form-detail p {
    padding: 10px 0; }

.wholesalers-management .order-table-list .table-col {
  padding: 0; }
  .wholesalers-management .order-table-list .table-col table tr th, .wholesalers-management .order-table-list .table-col .table-list-row .shopping-table-list table tr td, .table-list-row .shopping-table-list .wholesalers-management .order-table-list .table-col table tr td {
    border: none;
    background-color: #cae6f7;
    color: #777777;
    vertical-align: middle; }
    .wholesalers-management .order-table-list .table-col table tr th .order-number, .wholesalers-management .order-table-list .table-col .table-list-row .shopping-table-list table tr td .order-number, .table-list-row .shopping-table-list .wholesalers-management .order-table-list .table-col table tr td .order-number {
      display: inline-block;
      margin-left: 20px; }
  .wholesalers-management .order-table-list .table-col table tr td {
    border-right: none;
    border-left: none;
    vertical-align: middle; }
    .wholesalers-management .order-table-list .table-col table tr td .store-img {
      width: 100px;
      height: 100px; }
  .wholesalers-management .order-table-list .table-col table tr td.pay-detail {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; }
  .wholesalers-management .order-table-list .table-col table tr td.operating p {
    padding: 5px 0; }

.wholesalers-management .order-process {
  border: 1px solid #cae6f7;
  margin: 15px 0;
  padding: 10px 18px; }
  .wholesalers-management .order-process ul li {
    padding: 5px 0; }

/*======================================wholesalers-management end======================================*/
/*======================================personal-center begin======================================*/
.personal-center .switching {
  margin: 40px 0 20px 0;
  padding: 0;
  border: 1px solid #b4b4b4; }
  .personal-center .switching a {
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    margin-left: -5px;
    color: #555555; }
    .personal-center .switching a:first-of-type {
      margin-left: -1px; }
    .personal-center .switching a.active {
      border-top: 5px solid #4cb9fe;
      line-height: 15px; }

.personal-center .user-show {
  padding: 5px; }
  .personal-center .user-show img.shop-img {
    width: 95px;
    height: 95px; }

.personal-center .shop-img span {
  float: right;
  cursor: pointer; }

.personal-center .save button {
  margin-left: 10px; }

.personal-center .modal .modal .address-select {
  width: 30%;
  display: inline;
  margin-bottom: 5px; }

.personal-center .modal .modal-body .address-detail {
  margin: 10px 0; }

.personal-center .modal .address-select .address, .personal-center .modal .address-select .table-list-row .shopping-table-list table tfoot, .table-list-row .shopping-table-list table .personal-center .modal .address-select tfoot {
  width: 90%;
  display: inline;
  margin-bottom: 5px; }

.personal-center .address-list {
  margin-top: 5px; }
  .personal-center .address-list div {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-top: 4px;
    padding: 5px;
    color: #808080; }

.personal-center .pictures {
  margin-top: 10px; }

.personal-center table tr th, .personal-center .table-list-row .shopping-table-list table tr td, .table-list-row .shopping-table-list .personal-center table tr td {
  text-align: center; }

.personal-center .account-balance {
  margin-bottom: 20px; }
  .personal-center .account-balance .balance {
    display: inline-block;
    margin-right: 20px; }
  .personal-center .account-balance .btn {
    padding: 5px 30px; }

.personal-center .time {
  padding: 10px 0; }

.personal-center-tab2 .add {
  display: inline-block;
  margin-left: 30px; }
  .personal-center-tab2 .add label {
    padding: 1px 4px;
    background-color: #4cb9fe;
    color: #fff; }

.personal-center-tab3 .add {
  padding-bottom: 10px; }
  .personal-center-tab3 .add .btn {
    padding: 5px 30px; }

/*======================================personal-center end======================================*/
/*======================================order-detail begin======================================*/
.order-detail .order-tracking {
  background-color: #e0e0e0;
  border: 1px solid #4cb9fe;
  padding: 10px 15px; }
  .order-detail .order-tracking .orders-submit-detail .submit-detail-item {
    margin: 10px;
    height: 40px; }
    .order-detail .order-tracking .orders-submit-detail .submit-detail-item:first-of-type {
      border-bottom: 2px solid #b4b4b4;
      line-height: 30px; }
    .order-detail .order-tracking .orders-submit-detail .submit-detail-item li {
      float: left;
      width: 30%;
      height: 100%; }
      .order-detail .order-tracking .orders-submit-detail .submit-detail-item li.time .clock {
        display: block;
        padding: 0 0 0 30px; }

.order-detail .order-receipt {
  margin-top: 40px;
  padding: 10px 15px;
  border: 1px solid #b4b4b4; }
  .order-detail .order-receipt .order-information li, .order-detail .order-receipt .receiving-information li {
    padding-bottom: 15px; }
    .order-detail .order-receipt .order-information li.title, .order-detail .order-receipt .receiving-information li.title {
      font-weight: bold;
      font-size: 16px; }
    .order-detail .order-receipt .order-information li .remarks-content, .order-detail .order-receipt .receiving-information li .remarks-content {
      padding: 10px 0; }

.order-detail .table-row .table-col {
  padding: 30px 0 0 0; }
  .order-detail .table-row .table-col table thead tr th, .order-detail .table-row .table-col .table-list-row .shopping-table-list table thead tr td, .table-list-row .shopping-table-list .order-detail .table-row .table-col table thead tr td {
    text-align: center;
    border: none;
    background-color: #cae6f7; }
  .order-detail .table-row .table-col table tbody tr td {
    padding: 30px; }

.order-detail .order-panel {
  border: 1px solid #4cb9fe;
  padding: 10px 15px; }
  .order-detail .order-panel ul li {
    padding: 5px 0; }
    .order-detail .order-panel ul li .remarks-content {
      display: inline-block;
      color: #409bd5; }

.order-detail .order-table .little-table {
  width: 50%; }

.order-detail .order-table table {
  margin: auto; }
  .order-detail .order-table table thead td {
    background-color: #f2f2f2;
    color: #777777; }
  .order-detail .order-table table td {
    border-left: none;
    border-right: none;
    vertical-align: middle;
    text-align: center; }
    .order-detail .order-table table td .store-img {
      width: 50px;
      height: 50px; }

.order-detail .store-msg {
  margin: 50px 0 5px 0;
  padding: 8px;
  border: 1px solid #e0e0e0; }
  .order-detail .store-msg .item {
    padding: 10px 0; }
    .order-detail .store-msg .item li {
      padding-bottom: 5px; }
    .order-detail .store-msg .item .title-name {
      display: inline-block;
      width: 8%;
      margin-right: 18px; }
    .order-detail .store-msg .item table {
      width: 90%; }

.order-detail .bottom-content {
  padding: 10px 0; }
  .order-detail .bottom-content p {
    padding: 10px 0; }
    .order-detail .bottom-content p .btn {
      padding: 5px 25px; }

/*======================================order-detail end======================================*/
/*======================================order-report begin======================================*/
.order-report .content .title {
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0; }
  .order-report .content .title a {
    display: inline-block;
    padding: 10px 25px;
    color: #555555;
    margin-bottom: -1px; }
    .order-report .content .title a.active {
      border-bottom: 1px solid #4cb9fe;
      color: #4cb9fe; }

.order-report .content .enter-item {
  padding: 0; }
  .order-report .content .enter-item .item {
    display: inline-block;
    padding: 5px 0; }
  .order-report .content .enter-item .address, .order-report .content .enter-item .table-list-row .shopping-table-list table tfoot, .table-list-row .shopping-table-list table .order-report .content .enter-item tfoot {
    margin: 0 10px; }
  .order-report .content .enter-item .check-item {
    margin-right: 10px; }
  .order-report .content .enter-item .enter, .order-report .content .enter-item .btn {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle; }
  .order-report .content .enter-item .btn {
    width: 100px;
    margin: 5px; }

.order-report .content .tables {
  padding: 10px 0; }
  .order-report .content .tables .title-table {
    padding: 10px 0;
    font-weight: bold; }
  .order-report .content .tables table {
    margin: 0; }
    .order-report .content .tables table thead tr td {
      text-align: center;
      border: none;
      background-color: #f2f2f2;
      color: #777777; }
    .order-report .content .tables table tbody tr td {
      text-align: center;
      padding: 15px 10px; }

/*======================================order-report end======================================*/
/*==================================================================================wholesalers end======================================================================*/
/*==================================================================================dealer begin======================================================================*/
.navbar-button {
  border: 1px solid #e0e0e0; }
  .navbar-button .icon-bar {
    border: 1px solid #4cb9fe; }

/*======================================index begin======================================*/
.dealer-top-header {
  width: 100%;
  background-color: #f2f2f2; }
  .dealer-top-header .city-wrap {
    position: relative; }
    .dealer-top-header .city-wrap .location-panel {
      padding: 5px 3px;
      width: 135px;
      line-height: 31px;
      border: 1px solid #f2f2f2;
      position: relative;
      z-index: 999; }
      .dealer-top-header .city-wrap .location-panel .location-text {
        color: #555555;
        text-decoration: none; }
      .dealer-top-header .city-wrap .location-panel.selected-border {
        border: 1px solid #e0e0e0;
        border-bottom-color: #f2f2f2; }
    .dealer-top-header .city-wrap .city-list {
      border: 1px solid #e0e0e0;
      margin-top: -1px;
      position: absolute;
      background-color: #fff;
      z-index: 888;
      display: none; }
      .dealer-top-header .city-wrap .city-list .list-wrap .item {
        float: left;
        width: 70px;
        padding: 10px 0;
        text-align: center; }
        .dealer-top-header .city-wrap .city-list .list-wrap .item a {
          padding: 5px 8px;
          color: #555555;
          text-decoration: none;
          font-size: 13px; }
          .dealer-top-header .city-wrap .city-list .list-wrap .item a:hover {
            background-color: #f2f2f2; }
          .dealer-top-header .city-wrap .city-list .list-wrap .item a.selected {
            background-color: #4cb9fe;
            color: #fff; }
  .dealer-top-header .operating-wrap .collect-select {
    position: relative; }
    .dealer-top-header .operating-wrap .collect-select .collect-selected {
      border: 1px solid #f2f2f2;
      border-bottom: none;
      margin-top: -1px;
      vertical-align: middle; }
      .dealer-top-header .operating-wrap .collect-select .collect-selected.active {
        background: #fff;
        border: 1px solid #e0e0e0;
        border-bottom: none; }
    .dealer-top-header .operating-wrap .collect-select .select-list {
      display: none;
      text-align: left;
      position: absolute;
      width: 100%;
      top: 35px;
      z-index: 6;
      margin-top: -2px;
      border: 1px solid #e0e0e0;
      border-top: none;
      background-color: #fff; }
      .dealer-top-header .operating-wrap .collect-select .select-list li {
        padding: 2px 0 2px 18px;
        width: 100%; }
        .dealer-top-header .operating-wrap .collect-select .select-list li a:hover {
          color: #4cb9fe; }
  .dealer-top-header .operating-wrap a {
    color: #777777;
    padding-top: 10px;
    padding-bottom: 10px; }
    .dealer-top-header .operating-wrap a:hover {
      background: none; }

.dealer-header .search, .dealer-header .public-personal .controls .item .add-goods, .public-personal .controls .item .dealer-header .add-goods {
  min-width: 78%; }
  .dealer-header .search .input-group, .dealer-header .public-personal .controls .item .add-goods .input-group, .public-personal .controls .item .dealer-header .add-goods .input-group {
    margin-top: 2px;
    min-width: 50%;
    border: 1px solid #4cb9fe; }
    .dealer-header .search .input-group .select-role, .dealer-header .public-personal .controls .item .add-goods .input-group .select-role, .public-personal .controls .item .dealer-header .add-goods .input-group .select-role {
      display: inline-block;
      background-color: #f2f2f2;
      color: #b4b4b4;
      padding: 5px 2px;
      position: relative;
      width: 68px;
      height: 33px; }
      .dealer-header .search .input-group .select-role .selected span, .dealer-header .public-personal .controls .item .add-goods .input-group .select-role .selected span, .public-personal .controls .item .dealer-header .add-goods .input-group .select-role .selected span {
        display: inline-block;
        width: 80%; }
      .dealer-header .search .input-group .select-role a, .dealer-header .public-personal .controls .item .add-goods .input-group .select-role a, .public-personal .controls .item .dealer-header .add-goods .input-group .select-role a {
        text-decoration: none;
        color: #000;
        vertical-align: middle; }
      .dealer-header .search .input-group .select-role .select-list, .dealer-header .public-personal .controls .item .add-goods .input-group .select-role .select-list, .public-personal .controls .item .dealer-header .add-goods .input-group .select-role .select-list {
        display: none;
        position: absolute;
        background-color: #f2f2f2;
        bottom: -44px;
        left: 0;
        width: 100%;
        z-index: 99999; }
        .dealer-header .search .input-group .select-role .select-list li, .dealer-header .public-personal .controls .item .add-goods .input-group .select-role .select-list li, .public-personal .controls .item .dealer-header .add-goods .input-group .select-role .select-list li {
          padding-right: 10px; }
          .dealer-header .search .input-group .select-role .select-list li a, .dealer-header .public-personal .controls .item .add-goods .input-group .select-role .select-list li a, .public-personal .controls .item .dealer-header .add-goods .input-group .select-role .select-list li a {
            color: #000;
            font-size: 13px;
            display: inline-block;
            padding-bottom: 3px; }
    .dealer-header .search .input-group .control, .dealer-header .public-personal .controls .item .add-goods .input-group .control, .public-personal .controls .item .dealer-header .add-goods .input-group .control {
      width: 79%;
      height: 33px;
      padding: 0 5px;
      border: none;
      outline: none; }
    @media screen and (min-width: 991px) and (max-width: 1200px) {
      .dealer-header .search .input-group .control, .dealer-header .public-personal .controls .item .add-goods .input-group .control, .public-personal .controls .item .dealer-header .add-goods .input-group .control {
        width: 74%;
        height: 33px;
        padding: 0 5px; } }
    @media screen and (max-width: 991px) {
      .dealer-header .search .input-group .control, .dealer-header .public-personal .controls .item .add-goods .input-group .control, .public-personal .controls .item .dealer-header .add-goods .input-group .control {
        width: 69%;
        height: 33px;
        padding: 0 5px; } }
    .dealer-header .search .input-group .search-btn, .dealer-header .public-personal .controls .item .add-goods .input-group .search-btn, .public-personal .controls .item .dealer-header .add-goods .input-group .search-btn {
      width: 100%; }

.dealer-header .right-btn li {
  height: 100%;
  padding: 10px; }
  .dealer-header .right-btn li .btn {
    padding: 6px 15px; }
    .dealer-header .right-btn li .btn:hover {
      background-color: #4cb9fe; }

.categories-btn {
  background-color: #4cb9fe;
  padding: 0; }
  .categories-btn .btn {
    width: 100%; }

.nav-name a {
  color: #555555; }
  .nav-name a:hover {
    color: #4cb9fe; }

.categories {
  position: relative; }
  .categories .menu-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 401px;
    background-color: #49adec;
    z-index: 666; }
    .categories .menu-wrap li {
      padding: 10px 0 10px 55px;
      color: #fff;
      cursor: pointer; }
      .categories .menu-wrap li .one-title {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none; }
    .categories .menu-wrap .hover-effect {
      background-color: #f2f2f2; }
      .categories .menu-wrap .hover-effect .one-title {
        color: #409bd5 !important; }
  .menu-down-layer {
    display: none;
    position: absolute;
    left: 0;
    z-index: 666;
    background-color: #f2f2f2;
    padding-left: 10px;
    width: 100%;
    height: 401px; }
    .menu-down-layer .item {
      padding: 0 10px 5px 0;
      margin-top: 5px; }
      .menu-down-layer .item.active .title {
        color: #fe462f; }
      .menu-down-layer .item .title {
        cursor: pointer;
        padding: 2px 5px 3px 5px;
        color: #000;
        font-size: 13px; }
        .menu-down-layer .item .title a {
          border: none;
          padding: 0;
          font-weight: 600; }
        .menu-down-layer .item .title:hover {
          color: #fe462f; }
      .menu-down-layer .item a {
        color: #000;
        font-size: 13px;
        display: inline-block;
        padding: 0 10px 0 5px;
        margin: 3px 0 0 0;
        border-right: 1px solid #e0e0e0; }
        .menu-down-layer .item a:hover {
          color: #fe462f; }

.banner-wrap {
  border-top: 1px solid #4cb9fe;
  margin-top: -1px; }
  .banner-slide .carousel-indicators {
    text-align: right; }
    .banner-slide .carousel-indicators li {
      margin: 0 5px; }
  .banner-wrap .dealer-index-banner .carousel-inner .item {
    padding: 0; }
    .banner-wrap .dealer-index-banner .carousel-inner .item img {
      width: 100%;
      height: 400px; }

.dealer-index .list-penal .title {
  margin: 15px 0; }
  .dealer-index .list-penal .title h3 {
    padding: 8px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #e0e0e0; }

/*======================================index end======================================*/
/*======================================search begin======================================*/
.search-page .search-sort {
  margin: 0; }

.search-page .search-list-item {
  padding: 5px 0;
  border: none;
  border-bottom: 1px dashed #e0e0e0; }
  .search-page .search-list-item a {
    color: #000;
    display: inline-block;
    padding: 0 15px; }

.tab-title {
  margin: 20px 0;
  line-height: 40px;
  padding-right: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f2f2f2; }
  .tab-title .sequence a {
    color: #555555;
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    padding: 0 10px;
    margin-left: -4px;
    height: 100%; }
    .tab-title .sequence a:first-of-type {
      margin: 0; }
    .tab-title .sequence a:hover {
      color: #4cb9fe; }
    .tab-title .sequence a.active {
      background-color: #4cb9fe;
      color: #fff; }

/*======================================search end======================================*/
/*======================================shopping-car begin======================================*/
.audit-step-outs .step {
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  background-color: #f2f2f2; }
  .audit-step-outs .step .triangle-right {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 35px solid;
    border-bottom: 20px solid transparent;
    z-index: 3; }
  .audit-step-outs .step span.first {
    border-left-color: #e0e0e0;
    right: -35px; }
  .audit-step-outs .step span.last {
    border-left-color: #f2f2f2;
    right: -33px; }

.audit-step-outs .step-active {
  background-color: #fe462f;
  color: #fff; }
  .audit-step-outs .step-active span.first {
    border-left-color: #fe462f;
    right: -35px; }
  .audit-step-outs .step-active span.last {
    border-left-color: #fe462f;
    right: -33px; }

.table-list-row {
  margin-top: 40px; }
  .table-list-row .shopping-table-list {
    padding: 0; }
    .table-list-row .shopping-table-list table thead th, .table-list-row .shopping-table-list table thead tr td, .table-list-row .shopping-table-list table tr thead td {
      background-color: #cae6f7;
      color: #777777; }
    .table-list-row .shopping-table-list table .address td, .table-list-row .shopping-table-list table tfoot td {
      background-color: #f2f2f2; }
      .table-list-row .shopping-table-list table .address td .operating, .table-list-row .shopping-table-list table tfoot td .operating {
        padding: 5px 0; }
        .table-list-row .shopping-table-list table .address td .operating .control, .table-list-row .shopping-table-list table tfoot td .operating .control {
          width: 85%;
          padding: 3px 0;
          vertical-align: middle; }
      .table-list-row .shopping-table-list table .address td .lowest-money, .table-list-row .shopping-table-list table tfoot td .lowest-money {
        display: inline-block;
        padding: 0 30px; }
      .table-list-row .shopping-table-list table .address td .total-money, .table-list-row .shopping-table-list table tfoot td .total-money {
        display: inline-block; }
    .table-list-row .shopping-table-list table tr th, .table-list-row .shopping-table-list table tr td {
      border: none;
      border-bottom: 1px solid #e0e0e0;
      vertical-align: middle; }
    .table-list-row .shopping-table-list table tr td {
      padding: 15px 8px; }
      .table-list-row .shopping-table-list table tr td .modified {
        background-color: #f2f2f2;
        outline: none;
        border: 1px solid #e0e0e0;
        width: 23px;
        height: 25px;
        text-align: center; }
        .table-list-row .shopping-table-list table tr td .modified:hover {
          border: 1px solid #f0ad4e; }
      .table-list-row .shopping-table-list table tr td .money {
        font-size: 18px; }
      .table-list-row .shopping-table-list table tr td .num {
        width: 40px;
        height: 25px;
        text-align: center; }
      .table-list-row .shopping-table-list table tr td .avatar {
        width: 50px;
        height: 50px; }
      .table-list-row .shopping-table-list table tr td .btn {
        color: #333333; }
    .table-list-row .shopping-table-list table tr td.total-money {
      border-left: 1px solid #e0e0e0; }

.check-item {
  display: inline-block; }
  .check-item .span-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #b4b4b4;
    line-height: 13px;
    font-size: 17px;
    vertical-align: middle;
    cursor: pointer; }
  .check-item .inp-checkbox {
    opacity: 0; }

.fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030; }

.clearing {
  background-color: #d2d2d2;
  padding: 0; }
  .clearing .money .red {
    margin: 0 10px;
    font-size: 22px;
    vertical-align: middle; }
  .clearing .btn {
    padding: 15px 40px; }

.submit-order {
  padding: 6px 25px; }

/*======================================shopping-car end======================================*/
/*======================================collect begin======================================*/
.collect .control-panel {
  padding: 10px 15px; }
  .collect .control-panel .control {
    padding: 4px 0;
    margin-left: 10px;
    vertical-align: middle; }
  .collect .control-panel input.control {
    width: 15%;
    padding: 4px 3px; }
  .collect .control-panel .search, .collect .control-panel .public-personal .controls .item .add-goods, .public-personal .controls .item .collect .control-panel .add-goods {
    width: 15%;
    background-color: #d2d2d2;
    color: #555555; }

/*======================================collect end======================================*/
.wholesalers-list .dealer-index-banner {
  padding-left: 240px !important; }

/*==================================================================================dealer end======================================================================*/
.pagination li a {
  cursor: pointer; }

/*==============baidu map css start=================*/
#map, #map-modal {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0; }

/*==============baidu map css end=================*/
