#accordion {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: block;
      height: 25px;
      line-height: 25px;
      border-bottom: 1px solid RGB(245, 245, 245);

      a {
        display: inline-block;

        &, &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


