@import "variables";
@import "bootstrap/mixins";

body {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

ul, li, p, a, h1, h2, h3, h4 {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin dash-bord {
  border-top: 1px dashed $gray-lighter;
  border-bottom: 1px dashed $gray-lighter;
}

.padding-clear {
  padding: 0;
}

.btn-cancel {
  color: $body-bg;
  background-color: $brand-cancel;
  border-color: $brand-cancel;
}

.red {
  color: $brand-danger;
}

/*======================================step begin======================================*/
.ui-stepBar-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
  z-index: 100;
  .ui-stepBar {
    position: relative;
    width: 90%;
    height: 5px;
    background: #b4b4b4;
    top: 50px;
    left: 6%;
    z-index: 101;
    .ui-stepProcess {
      position: relative;
      width: 0;
      height: 5px;
      background: #4cb9fe;
      top: 0;
      left: 0;
      z-index: 102;
    }
  }
  .ui-stepInfo-wrap {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    .ui-stepInfo {
      position: relative;
      float: left;
      padding-top: 36px;
      text-align: center;
      .ui-stepSequence {
        position: relative;
        padding: 1px 10px;
        border-radius: 50%;
        z-index: 103;
      }
      .ui-stepName {
        position: relative;
        line-height: 50px;
        z-index: 103;
      }
      .judge-stepSequence-pre-change {
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 3px 1px #4cb9fe;
        }
      }
      .judge-stepSequence-hind-change {
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 3px 1px #b4b4b4;
        }
      }
    }
  }
}

.judge-stepSequence-pre {
  background: #4cb9fe;
  color: #ffffff;
}

.judge-stepSequence-hind {
  background: #b4b4b4;
  color: #000000;
}

.author {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  color: #1569ec;
  text-shadow: 1px 1px 0 #e7e7e7, 0 1px 7px #fff;
}

/*======================================step begin======================================*/
/*==================================================================================wholesalers begin======================================================================*/
/*======================================header begin======================================*/
.wholesalers-top-header {
  .logo {
    padding-bottom: 10px;
    padding-top: 10px;
    .logo-icon {
      height: 34px;
      line-height: 34px;
      display: inline-block;
    }
  }
  @at-root .search {
    .form-control {
      outline: none;
      border: 1px solid $brand-primary;
    }
  }
}

#menu-list {
  .menu-list-wrap {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    .menu-wrap {
      height: auto;
      text-align: center;
      li {
        padding: 10px 0;
        border: 1px solid $blue;
      }
    }
    .menu-down-layer {
      position: absolute;
      top: 0;
      left: inherit;
      right: -599px;
      width: 600px;
      height: auto;
      text-align: left;
    }
  }

}

#other-page-categories {
  li {
    &:hover {
      border: 1px solid $brand-primary;
      border-right-color: $body-bg;
    }
  }
}

.right-search {
  padding: 10px 0;
}

.wholesalers-header {
  .container {
    padding: 0;
    .collapse {
      padding: 0;
    }
    .active {
      a.list-name {
        color: $body-bg;
        background-color: $brand-primary;
      }
    }
    .navbar-nav {
      li {
        padding: 0;
        .list-name {
          width: 100%;
          padding: 15px 55px;
        }
      }
    }
    .collect {
      .btn {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        background-color: $body-bg;
        color: $brand-primary;
        vertical-align: middle;
      }
    }
  }
}

.panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal {
  .address-wrap {
    height: 80px;
    padding: 0;
    position: relative;
    label {
      display: inline-block;
      position: absolute;
      height: 100%;
      line-height: 80px;
      top: 0;
    }
    textarea {
      @include size(70%, 80%);
      margin-left: 80px;
      margin-top: 10px;
    }
  }
}

/*======================================header end======================================*/

/*======================================index begin======================================*/
.index {
  .list-penal {
    .commodity {
      .commodity-img {
        width: 100%;
        display: inline-block;
      }
      .content-panel {
        padding: 10px 5px;
        background-color: $gray-plain;
        .commodity-name {
          padding: 10px 0;
          a {
            color: $gray;
          }
        }
        .sell-panel {
          .money {
            color: $brand-danger;
            font-weight: bolder;
          }
        }
        .order-count {
          color: $gray-light;
        }
      }
    }
    .img-wrap {
      position: relative;
      .prompt {
        position: absolute;
        display: inline-block;
        @include square(117px);
        top: 0;
        left: 0;
        background: url("../images/titles.png") no-repeat left top;
      }
      .lack {
        background-position: 0 0;
      }
      .promotions {
        background-position: 0 -150px;
      }
      .new-listing {
        background-position: 0 -300px;
      }
    }
  }
}

.wholesalers-index {
  .left-store-logo {
    .banner {
      .item {
        padding: 0;
        img {
          width: 100%;
          max-width: 1000px;
          height: 370px;
          border: 1px solid $gray-lighter;
        }
      }
    }
  }
  .store {
    @include dash-bord;
    height: 370px;
    padding: 0;
    .store-panel {
      width: 100%;
      padding: 8px 0 15px 0;
      .avatar {
        @include square(70px);
        border-radius: 50%;
        float: left;
      }
      .store-msg {
        margin-left: 80px;
        li {
          padding: 1px 0;
        }
      }
    }

    .address-panel {
      border-top: 1px dashed $gray-lighter;
      margin-top: -1px;
      ul {
        padding: 10px 0;
        .address-panel-item {
          margin-left: 80px;
          .panel-name {
            display: block;
            color: $gray-light;
            margin-bottom: 5px;
          }
          .address-list {
            display: inline-block;
            span {
              display: block;
              padding: 2px;
            }
          }
        }
        .icon {
          background: url('../images/address-icon.png') no-repeat center;
          @include square(50px);
          display: inline-block;
          float: left;
          margin-left: 20px;
        }
        .icon-tel {
          background-position: 0 0;
        }
        .icon-address {
          background-position: 0 -100px;
        }
        .icon-address {
          background-position: 0 -128px;
        }
      }
    }
  }

  .nav-wrap {
    background-color: $gray-plain;
    margin: 30px 0;
    height: 40px;
    li {
      padding: 0;
      a {
        color: $gray-light;
        padding: 0 15px;
        line-height: 40px;
        &:hover {
          background-color: $gray-plain;
        }
      }
    }
    .switching {
      a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        &.active {
          background-color: $gray-plain;
          color: $brand-primary;
          border-bottom: 2px solid $brand-primary;
        }
      }
    }
  }

}

/*======================================index end======================================*/

/*======================================my-goods begin======================================*/
.public-personal {
  .controls {
    padding: 20px 0;
    .item {
      background-color: $blue-light;
      padding: 15px 15px;
      .control {
        height: 27px;
        line-height: 13px;
      }
      .search {
        margin-bottom: 3px;
      }
    }
  }

  @at-root .sort {
    margin-bottom: 30px;
    color: $gray-light;
    .sort-item {
      border: 1px solid $gray-lighter;
      padding: 5px 5px;
      .title-name {
        display: inline-block;
        padding: 3px 0 0 10px;
      }
      .all-sort-panel {
        margin-left: 40px;
        .all-sort {
          width: 90%;
          padding: 0 6px;
          max-height: 60px;
          overflow: hidden;
          a {
            display: inline-block;
            padding: 3px 5px;
            margin: 2px 10px 5px 10px;
            font-size: 12px;
            color: $gray;;
            &.active {
              background-color: $brand-primary;
              color: $body-bg;
              &:hover {
                color: $body-bg;
              }
            }
            &:hover {
              color: $brand-primary;
            }
          }
        }
        .more {
          display: inline-block;
          padding-right: 5px;
          color: $gray-darker;
          text-decoration: none;
        }
      }
    }

    .sort-name {
      margin-top: -1px;
    }

    .package {
      @extend .sort-name;
    }
  }
  .menu {
    text-align: center;
    padding: 0;
    a {
      color: $gray-light;
      display: inline-block;
      width: 100%;
      padding: 10px 0;
      text-decoration: none;
    }
    .go-back {
      padding: 10px 5px;
      width: 60%;
      display: inline-block;
      border: 1px solid $gray-lighter;
    }
    .name {
      @extend .go-back;
      .avatar {
        @include square(50px);
        border-radius: 50%;
      }
    }
    .dealer-menu-list {
      .list-item {
        color: $gray-base;
      }
      text-align: left;
      padding-left: 15px;
    }

    .menu-list {
      border: 1px solid $gray-lighter;
      width: 60%;
      margin: -1px auto auto auto;
      .menu-wrap {
        padding-left: 15px;
        display: none;
      }
      .active {
        color: $brand-primary;
      }
    }
  }
}

/*======================================my-goods end======================================*/
/*======================================goods-detail begin======================================*/
.goods-detail {
  .operating {
    padding: 10px 0;
    line-height: 33px;
    .btn-list {
      padding: 0;
      .btn-remove {
        color: $body-bg;
        background-color: $gray-lighter;
      }
    }
  }
  .good-wrap {
    border: 1px solid $gray-plain-light;
    padding: 10px 0;
    .commodity-img {
      padding-top: 5px;
      .commodity {
        @include square(90%);
      }
    }
    .detail-list-wrap {
      li {
        padding: 5px 0;

      }
      .left-list {
        margin-right: 50px;
      }
    }
  }
  .delivery-wrap {
    padding: 15px 0;
    .switching {
      padding: 0;
      border: 1px solid $gray-lighter;
      a {
        display: inline-block;
        height: 33px;
        line-height: 33px;
        padding: 0 15px;
        border-left: 1px solid $gray-lighter;
        border-right: 1px solid $gray-lighter;
        margin-left: -1px;
        color: $gray;
        &:last-of-type {
          margin-left: -5px;
        }
        &.active {
          color: $brand-info;
          border-bottom: 3px solid $brand-primary;
        }
      }
    }
    .location {
      padding: 0;
      p {
        padding: 5px 0;
        input {
          width: 30%;
        }
        .address-map {
          @include size(30%, 250px);
        }
      }
    }

  }
  .box {
    display: none;
  }
  .graphic-details {
    padding: 15px;
  }
  .left-store-logo {
    .banner {
      .item {
        img {
          height: 300px;
        }
      }
    }
  }
  .store-detail-wrap {
    height: 300px;
    h3 {
      padding: 0 0 20px 0;
      border-bottom: 1px dashed $gray-light;
    }
    li {
      padding: 10px 0;
    }
    .information {
      li {
        padding: 5px 0;
        .title-name {
          display: inline-block;
          width: 85px;
          text-align: right;
          padding-right: 10px;
        }
        .content {
          display: inline-block;
          width: 85%;
        }
        .stores-img {
          @include square(60px);
        }
      }
    }
    .left-panel {
      width: 30%;
    }
    .right-panel {
      width: 50%;
      .count {
        padding: 1px 5px;
        font-size: 16px;
        &:hover {
          color: $body-bg;
        }
      }
      .collect {
        color: $brand-primary;
      }
      .amount {
        width: 25%;
        padding: 3px 0;
        vertical-align: middle;
      }
    }
  }

  .title-name {
    color: $gray-light;
  }
  .address-wrap {
    padding: 20px 0 20px 30px;
    .item {
      .address-list {
        li {
          padding: 0 0 5px 20px;
        }
      }
      .map {
        max-width: 500px;
        max-height: 380px;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid $gray-plain-light;
      }
    }
  }
}

/*======================================goods-detail end======================================*/
/*======================================goods-editor begin======================================*/
.upload-progress-wrap {
  padding-left: 83px;
  .upload-img-item {
    position: relative;
    .file-name {
      position: absolute;
      top: 0;
    }
    .progress-wrap {
      width: 50%;
      margin: 8px 0 7px 20%;
      height: 10px;
    }
  }
}

.upload-item {
  background-color: $gray-plain-light;
  border-radius: 1px;
  padding: 0 10px;
  @include size(60%, 25px);
  margin: 5px 0;
  line-height: 25px;
  span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
  }
}

.goods-editor {
  .editor-panel {
    .editor-wrap {
      padding: 10px 15px;
      .editor-item {
        padding: 5px 0;
        margin: 0;
        .narrow {
          width: 80px;
        }
        .items-item {
          display: inline-block;
          padding-right: 40px;
          position: relative;
          .checks {
            display: inline-block;
            width: 60px;
          }
        }
      }
      .attr {
        border: 1px solid $gray-lighter;
        padding: 5px 0 5px 38px;
        .items-item {
          padding: 5px 20px 5px 0;
        }
      }
      .promotions-msg {
        height: 80px;
        position: relative;
        label {
          height: 100%;
          display: inline-block;
          position: absolute;
          line-height: 80px;
          top: 0;
        }
        textarea {
          margin-left: 70px;
          @include size(65%, 100%)
        }
      }
    }
    .right-save {
      padding: 15px 0;
      .btn {
        padding: 5px 30px;
      }
    }
  }
  .content-wrap {
    .add-address {
      margin: 15px 0;
    }
    .address-list {
      margin-top: 5px;
      div {
        border: 1px solid #EEEEEE;
        border-radius: 3px;
        margin-top: 4px;
        padding: 5px;
        color: #808080;
      }
    }
    .pictures {
      margin-top: 10px;
    }
    .item {
      @extend .upload-item;
    }
    .map {
      margin: 10px 0;
    }
    .upload-img {
      @extend .add-address;
      @at-root .upload {
        display: inline-block;
        position: relative;
        input {
          position: absolute;
          left: 0;
          top: 0;
          @include square(100%);
          opacity: 0;
        }
      }
    }
    .upload-wrap {
      @extend .upload-progress-wrap;
    }
    .preview-wrap {
      padding: 15px;
      p {
        padding: 10px 0;
      }
    }
    .graphic-wrap {
      @extend .preview-wrap;
      textarea {
        @include size(80%, 100px);
      }
    }
  }
}

/*======================================goods-editor end======================================*/
/*======================================wholesalers-management begin======================================*/
.wholesalers-management {
  .notice-bar {
    padding: 0;
    border-bottom: 1px solid $brand-primary;
  }
  .product-name {
    margin-left: 10px;
    color: $gray;
  }
  .pay-detail {
    @extend .right-search;
    .item {
      display: inline-block;
      padding: 3px 25px 3px 0;
      font-size: 12px;
      input {
        width: 80px;
      }
      .control {
        padding: 5px 0;
      }
    }
  }
  .order-management {
    .control-item {
      width: 28%;
      .control {
        width: 60%;
      }
    }
    .right {
      padding-top: 12px;
      .control {
        width: 40%;
        padding: 5px 0;
        vertical-align: middle;
      }
      .btn-cancel {
        color: $gray-light;
      }
    }
  }

  .order-form-list {
    border: 1px solid $blue-light;
    margin-top: 10px;
    margin-bottom: 10px;
    div {
      height: 100%;
    }
    .list-title {
      padding: 10px 15px;
      background-color: $blue-light;
      span {
        margin-left: 15px;
      }
    }
    .list-content {
      li {
        padding: 15px;
        span {
          display: inline-block;
          margin-left: 15%;
        }
      }
    }
    .order-form-operating {
      p {
        padding: 5px 0;
        line-height: 20px;
        &:first-of-type {
          margin-top: 45px;
        }
        .btn {
          padding: 5px 20px;
        }
      }
    }
    .order-form-detail {
      @extend .order-form-operating;
      p {
        padding: 10px 0;
      }

    }

  }
  .order-table-list {
    .table-col {
      padding: 0;
      table {
        tr {
          th {
            border: none;
            background-color: $blue-light;;
            color: $gray-light;
            vertical-align: middle;
            .order-number {
              display: inline-block;
              margin-left: 20px;
            }
          }
          td {
            border-right: none;
            border-left: none;
            vertical-align: middle;
            .store-img {
              @include square(100px);
            }
          }
          td.pay-detail {
            border-left: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
          }
          td.operating {
            p {
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
  .order-process {
    border: 1px solid $blue-light;
    margin: 15px 0;
    padding: 10px 18px;
    ul {
      li {
        padding: 5px 0;
      }
    }
  }
}

/*======================================wholesalers-management end======================================*/
/*======================================personal-center begin======================================*/
.personal-center {
  .switching {
    margin: 40px 0 20px 0;
    padding: 0;
    border: 1px solid $gray-lighter;
    a {
      border-left: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;
      margin-left: -5px;
      color: $gray;
      &:first-of-type {
        margin-left: -1px;
      }
      &.active {
        border-top: 5px solid $brand-primary;
        line-height: 15px;
      }
    }
  }
  .user-show {
    padding: 5px;

    img.shop-img {
      width: 95px;
      height: 95px;
    }
  }

  .shop-img span {
    float: right;
    cursor: pointer;
  }

  .save button {
    margin-left: 10px;
  }

  .modal {

    .modal .address-select {
      width: 30%;
      display: inline;
      margin-bottom: 5px;
    }

    .modal-body .address-detail {
      margin: 10px 0;
    }

    .address-select .address {
      width: 90%;
      display: inline;
      margin-bottom: 5px;
    }
  }

  .address-list {
    margin-top: 5px;

    div {
      border: 1px solid #EEEEEE;
      border-radius: 3px;
      margin-top: 4px;
      padding: 5px;
      color: #808080;
    }
  }

  .pictures {
    margin-top: 10px;
  }
  table {
    tr {
      th {
        text-align: center;
      }
    }
  }
  .account-balance {
    margin-bottom: 20px;
    .balance {
      display: inline-block;
      margin-right: 20px;
    }
    .btn {
      padding: 5px 30px;
    }
  }
  .time {
    padding: 10px 0
  }
}

.personal-center-tab2 {
  .add {
    display: inline-block;
    margin-left: 30px;
    label {
      padding: 1px 4px;
      background-color: #4cb9fe;
      color: #fff;
    }
  }

}

.personal-center-tab3 {
  .add {
    padding-bottom: 10px;
    .btn {
      padding: 5px 30px;
    }
  }
}

/*======================================personal-center end======================================*/
/*======================================order-detail begin======================================*/
.order-detail {
  .order-tracking {
    background-color: $gray-plain-light;
    border: 1px solid $brand-primary;
    padding: 10px 15px;
    .orders-submit-detail {
      .submit-detail-item {
        margin: 10px;
        height: 40px;
        &:first-of-type {
          border-bottom: 2px solid $gray-lighter;
          line-height: 30px;
        }
        li {
          float: left;
          @include size(30%, 100%);
          &.time {
            .clock {
              display: block;
              padding: 0 0 0 30px;
            }
          }
        }
      }
    }
  }
  .order-receipt {
    margin-top: 40px;
    padding: 10px 15px;
    border: 1px solid $gray-lighter;
    .order-information {
      li {
        padding-bottom: 15px;
        &.title {
          font-weight: bold;
          font-size: 16px;
        }
        .remarks-content {
          padding: 10px 0;
        }
      }
    }
    .receiving-information {
      @extend .order-information;
    }
  }
  .table-row {
    .table-col {
      padding: 30px 0 0 0;
      table {
        thead {
          tr {
            th {
              text-align: center;
              border: none;
              background-color: $blue-light;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 30px;
            }
          }
        }
      }
    }
  }
  .order-panel {
    border: 1px solid $brand-primary;
    padding: 10px 15px;
    ul {
      li {
        padding: 5px 0;
        .remarks-content {
          display: inline-block;
          color: $blue;
        }
      }
    }
  }
  .order-table {
    .little-table {
      width: 50%;
    }
    table {
      margin: auto;
      thead {
        td {
          background-color: $gray-plain;
          color: $gray-light;
        }
      }
      td {
        border-left: none;
        border-right: none;
        vertical-align: middle;
        text-align: center;
        .store-img {
          @include square(50px);
        }
      }
    }
  }

  .store-msg {
    margin: 50px 0 5px 0;
    padding: 8px;
    border: 1px solid $gray-plain-light;
    .item {
      padding: 10px 0;
      li {
        padding-bottom: 5px;
      }
      .title-name {
        display: inline-block;
        width: 8%;
        margin-right: 18px;
      }
      table {
        width: 90%;
      }
    }
  }
  .bottom-content {
    padding: 10px 0;
    p {
      padding: 10px 0;
      .btn {
        padding: 5px 25px;
      }
    }
  }
}

/*======================================order-detail end======================================*/
/*======================================order-report begin======================================*/
.order-report {
  .content {
    .title {
      padding: 0;
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-plain-light;
      a {
        display: inline-block;
        padding: 10px 25px;
        color: $gray;
        margin-bottom: -1px;
        &.active {
          border-bottom: 1px solid $brand-primary;
          color: $brand-primary;
        }
      }
    }
    .enter-item {
      padding: 0;
      .item {
        display: inline-block;
      }
      .address {
        margin: 0 10px;
      }
      .check-item {
        margin-right: 10px;
      }
      .enter {
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
      }
      .btn {
        @extend .enter;
        width: 100px;
        margin: 5px;
      }
    }
    .tables {
      padding: 10px 0;
      .title-table {
        padding: 10px 0;
        font-weight: bold;
      }
      table {
        margin: 0;
        thead {
          tr {
            td {
              text-align: center;
              border: none;
              background-color: $gray-plain;
              color: $gray-light;
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
              padding: 15px 10px;
            }
          }
        }
      }
    }
  }
}

/*======================================order-report end======================================*/
/*==================================================================================wholesalers end======================================================================*/

/*==================================================================================dealer begin======================================================================*/
.navbar-button {
  border: 1px solid $gray-plain-light;
  .icon-bar {
    border: 1px solid $brand-primary;
  }
}

/*======================================index begin======================================*/
.dealer-top-header {
  /*height: 31px;
  line-height: 31px;*/
  width: 100%;
  background-color: $gray-plain;
  .city-wrap {
    position: relative;
    .location-panel {
      padding: 5px 10px;
      width: 135px;
      line-height: 31px;
      border: 1px solid $gray-plain;
      position: relative;
      z-index: 5;
      .location-text {
        color: $gray;
        text-decoration: none;
      }
    }
    .city-list {
      border: 1px solid $gray-plain-light;
      margin-top: -1px;
      position: absolute;
      background-color: $body-bg;
      z-index: 10000;
      display: none;
      .list-wrap {
        .item {
          float: left;
          width: 70px;
          padding: 10px 0;
          text-align: center;
          a {
            padding: 5px 8px;
            color: $gray;
            text-decoration: none;
            font-size: 13px;
            &:hover {
              background-color: $gray-plain;
            }
            &.selected {
              background-color: $brand-primary;
              color: $body-bg;
            }
          }
        }
      }
    }
  }
  .operating-wrap {
    a {
      color: $gray-light;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        background: none;
      }
    }
  }
}

.dealer-header {
  .search {
    min-width: 80%;
    .input-group {
      min-width: 50%;
      border: 1px solid $brand-primary;
      .select-role {
        display: inline-block;
        background-color: $gray-plain;
        color: $gray-lighter;
        padding: 5px 2px;
        position: relative;
        height: 33px;
        width: 68px;
        .selected {
          span {
            display: inline-block;
            width: 80%;
          }
        }
        a {
          text-decoration: none;
          color: $gray-base;
          vertical-align: middle;
        }
        .select-list {
          display: none;
          position: absolute;
          background-color: $gray-plain;
          bottom: -44px;
          left: 0;
          width: 100%;
          z-index: 99999;
          li {
            padding-right: 10px;
            a {
              color: $gray-base;
              font-size: 13px;
              display: inline-block;
              padding-bottom: 3px;
            }
          }
        }
      }
      .control {
        width: 78%;
        height: 33px;
        border: none;
        outline: none;
      }
      .search-btn {
        width: 100%;
      }
    }
  }
  .right-btn {
    li {
      height: 100%;
      padding: 10px;
      .btn {
        padding: 6px 15px;
        &:hover {
          background-color: $brand-primary;
        }
      }
    }
  }
}

.categories-btn {
  background-color: $brand-primary;
  padding: 0;
  .btn {
    width: 100%;
  }
}

.categories {
  position: relative;
  .menu-wrap {
    position: absolute;
    left: 0;
    @include size(100%, 401px);
    background-color: $blue;
    z-index: 999;
    li {
      padding: 10px 0 10px 55px;
      color: $body-bg;
      cursor: pointer;
      .one-title {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $body-bg;
        text-decoration: none;
      }
    }
    .hover-effect {
      background-color: $gray-plain;
      .one-title {
        color: $blue !important;
      }
    }
  }
  @at-root .menu-down-layer {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
    background-color: $body-bg;
    padding-left: 10px;
    @include size(100%, min(401px));
    .item {
      padding: 0 10px 5px 0;
      margin-top: 5px;
      &.active {
        .title {
          color: $brand-danger;
        }
      }
      .title {
        cursor: pointer;
        padding: 2px 5px 3px 5px;
        color: $gray-base;
        font-size: 13px;
        a {
          border: none;
          padding: 0;
          font-weight: 600;
        }
        &:hover {
          color: $brand-danger;
        }
      }
      a {
        color: $gray-base;
        font-size: 13px;
        display: inline-block;
        padding: 0 10px 0 5px;
        margin: 3px 0 0 0;
        border-right: 1px solid $gray-plain-light;
        &:hover {
          color: $brand-danger;
        }
      }
    }
  }
}

.banner-wrap {
  background-color: $banner-gray;
  border-top: 1px solid $brand-primary;
  margin-top: -1px;

  @at-root .banner-slide {
    .carousel-indicators {
      text-align: right;
      li {
        margin: 0 5px;
      }
    }
  }
  .dealer-index-banner {
    .carousel-inner {
      .item {
        padding: 0;
        img {
          @include size(100%, 400px);
        }
      }
    }
  }
}

.dealer-index {
  .list-penal {
    .title {
      margin: 50px 0 15px 0;
      h3 {
        padding: 8px 20px;
        font-size: 15px;
        font-weight: bold;
        background-color: $gray-plain-light;
      }
    }

  }
}

/*======================================index end======================================*/
/*======================================search begin======================================*/
.search-page {
  .search-sort {
    margin: 0;
  }
  .search-list-item {
    padding: 10px 0;
    border: none;
    border-bottom: 1px dashed $gray-plain-light;
    a {
      color: $gray-base;
      display: inline-block;
      padding: 0 15px;
    }
  }
}

.tab-title {
  margin: 20px 0;
  line-height: 40px;
  padding-right: 10px;
  border: 1px solid $gray-plain-light;
  background-color: $gray-plain;
  .sequence {
    a {
      color: $gray;
      display: inline-block;
      border-right: 1px solid $gray-plain-light;
      padding: 0 10px;
      margin-left: -4px;
      height: 100%;
      &:first-of-type {
        margin: 0;
      }
      &:hover {
        color: $brand-primary;
      }
      &.active {
        background-color: $brand-primary;
        color: $body-bg;
      }
    }
  }
}

/*======================================search end======================================*/
/*======================================shopping-car begin======================================*/
.audit-step-outs {
  .step {
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    background-color: $gray-plain;
    .triangle-right {
      position: absolute;
      top: 0;
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 35px solid;
      border-bottom: 20px solid transparent;
      z-index: 3;
    }
    span.first {
      border-left-color: $gray-plain-light;
      right: -35px;
    }
    span.last {
      border-left-color: $gray-plain;
      right: -33px;
    }
  }
  .step-active {
    background-color: $brand-danger;
    color: $body-bg;
    span.first {
      border-left-color: $brand-danger;
      right: -35px;
    }
    span.last {
      border-left-color: $brand-danger;
      right: -33px;
    }
  }
}

.table-list-row {
  margin-top: 40px;
  .shopping-table-list {
    padding: 0;
    table {
      thead {
        th {
          background-color: $blue-light;
          color: $gray-light;
        }
      }
      tfoot {
        td {
          background-color: $gray-plain;
          .operating {
            padding: 5px 0;
            .control {
              width: 85%;
              padding: 3px 0;
            }
          }
          .lowest-money {
            display: inline-block;
            padding: 0 30px;
            display: inline-block;
          }
          .total-money {
            display: inline-block;
          }
        }
      }
      tr {
        th {
          border: none;
          border-bottom: 1px solid $gray-plain-light;
          vertical-align: middle;
        }
        td {
          @extend th;
          padding: 15px 8px;
          .modified {
            background-color: $gray-plain;
            outline: none;
            border: 1px solid $gray-plain-light;
            @include size(23px, 25px);
            text-align: center;
            &:hover {
              border: 1px solid $brand-warning;
            }
          }
          .money {
            font-size: 18px;
          }
          .num {
            width: 40px;
            text-align: center;
          }
          .avatar {
            @include square(50px);
          }
          .btn {
            color: $gray-dark;
          }
        }
        td.total-money {
          border-left: 1px solid $gray-plain-light;
        }
      }
    }

  }
}

.check-item {
  display: inline-block;
  .span-checkbox {
    display: inline-block;
    @include square(16px);
    border: 1px solid $gray-lighter;
    line-height: 13px;
    font-size: 17px;
    vertical-align: middle;
    cursor: pointer;
  }
  .inp-checkbox {
    opacity: 0;
  }
}

.fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
}

.clearing {
  background-color: $banner-gray;
  padding: 0;
  .money {
    .red {
      margin: 0 10px;
      font-size: 22px;
      vertical-align: middle;
    }
  }
  .btn {
    padding: 15px 40px;
  }
}

.submit-order {
  padding: 6px 25px;
}

/*======================================shopping-car end======================================*/
/*======================================collect begin======================================*/
.collect {
  .control-panel {
    padding: 10px 15px;
    .control {
      width: 10%;
      padding: 4px 0;
      margin-left: 10px;
      vertical-align: middle;
    }
    input.control {
      width: 15%;
      padding: 4px 3px;
    }
    .search {
      width: 15%;
      background-color: $banner-gray;
      color: $gray;
    }
  }

}

/*======================================collect end======================================*/
.wholesalers-list {
  .dealer-index-banner {
    padding-left: 240px !important;
  }
}

/*==================================================================================dealer end======================================================================*/