@import "variables";
@import "bootstrap/mixins";

html {
  font-size: 62.5%
}

html, body {
  height: 100%;
  background-color: $gray-plain;
  font-family: "Microsoft YaHei", Arial, sans-serif;
  margin: auto;
  position: relative;
}

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  color: $gray-base;
  &:focus, &:hover {
    color: $gray-base;
    text-decoration: none;
  }
}

.container, body, .fixed-item {
  min-width: 320px;
  max-width: 640px;
}

.pd-clear {
  padding: 0 !important;
}

.pd-left-clear {
  padding-left: 0 !important;
}

.pd-right-clear {
  padding-right: 0 !important;
}

.margin-clear {
  margin: 0 !important;
}

.red {
  color: $red;
}

.green {
  color: $brand-success;
}

.prompt {
  color: $word-gray;
}

/*======================================登录 开始======================================*/
.login-logo {
  padding: 15px;
  background-color: $body-bg;
  border-radius: 50% !important;
  margin-top: 30px;
  img {
    width: 100%;
  }
}

.enter-wrap {
  margin-top: 50px;
  .enter-item {
    height: 50px;
    border-radius: 4px !important;
    background-color: $body-bg;
    padding: 0 15px;
    input {
      vertical-align: middle;
      margin: 13px 0;
      border: none;
      outline: none;
      width: 100%;
    }
    .iconfont {
      color: $gray-light;
      font-size: 3rem;
      vertical-align: middle;
    }
    & + .enter-item {
      margin-top: 2px;
    }
    .icon-panel {
      display: inline-block;
      @include square(35px);
      line-height: 32px;
      vertical-align: middle;
      &.role-panel {
        position: relative;
        .triangle {
          position: absolute;
          right: 0;
          bottom: 0;
          @include square(0);
          border-bottom: 10px solid $gray-lighter;
          border-left: 10px solid transparent;
        }
        .select-role {
          display: inline-block;
          @include square(25px);
          img {
            width: 100%;
            display: none;
            &.active {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .submit-panel {
    margin-top: 25px;
    .submit {
      width: 100%;
      height: 50px;
      border-radius: 4px !important;
      font-size: 2rem;
      letter-spacing: 1rem;
    }
  }
  .footer-wrap {
    margin-top: 15px;
    a {
      font-size: 1.6rem;
      &.forget-pwd {
        float: right;
      }
    }
  }
}

.login-content {
  .enter-item {
    input {
      width: 85%;
    }
  }
}

.popover-wrap {
  display: none;
}

.popover-panel {
  .title {
    height: 40px;
    background-color: $theme-orange;
    color: $body-bg;
    font-size: 2rem;
    line-height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .select-role-wrap {
    background-color: $body-bg;
    li {
      padding: 0 15px;
      a {
        display: block;
        width: 100%;
      }
      img {
        @include square(25px);
        margin-right: 10px;
      }
      height: 50px;
      line-height: 50px;
      text-align: left;
      border-bottom: 1px solid $gray-plain-light;
      .iconfont {
        color: $gray-lighter;
        vertical-align: middle;
        float: right;
      }
      &:last-of-type {
        border: none;
      }
    }
  }
  .content {
    height: 100px;
    line-height: 100px;
  }
  .footer {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid $gray-plain-light;
    a {
      color: $theme-orange !important;
    }
    .opera-item {
      border: 1px solid $gray-plain-light;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      @include size(50%, 40px);
      .btn {
        background-color: $body-bg;
        border: none;
        outline: none;
        font-size: 1.6rem;
      }
    }
    .confirm {
      .btn {
        color: $theme-orange;
      }
    }
  }
  .address-wrap {
    padding-bottom: 45px;
    overflow-y: scroll;
  }
  .address-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    background-color: $body-bg;
    a {
      color: $body-bg !important;
    }
  }
  .add-num {
    padding: 20px;
    .enter-num {
      border: 1px solid $gray-plain-light;
      @include size(60%, 40px);
      border-radius: 4px !important;
      padding: 0 5px;
    }
    a {
      display: inline-block;
      @include size(50px, 40px);
      line-height: 40px;
      vertical-align: middle;
      font-size: 2.5rem;
      color: $gray-light;
    }
  }
  .address-list-item {
    border-bottom: 1px solid $gray-plain-light;
    padding: 5px 15px;
    .set-item {
      .btn {
        padding: 2px 4px;
      }
      .iconfont {
        font-size: 2.2rem;
        color: $gray-light;
        display: inline-block;
        margin-left: 30px;
      }
    }
    .check {
      display: none;
    }
    &.active {
      .check {
        display: inline-block;
      }
    }
  }
}

.popover-error {
  width: 30% !important;
  padding: 2% !important;
  line-height: 22px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7) !important;
  div {
    width: 100% !important;
    padding: 2% !important;
    color: #fff !important;
  }
}

/*======================================登录 结束======================================*/
/*======================================注册 开始======================================*/
.fixed-item {
  .nav-top {
    height: 45px;
    line-height: 45px;
    background-color: $theme-orange;
    text-align: center;
    color: $body-bg;
    font-size: 2rem;
    z-index: 99;
    margin: auto;
    a {
      font-size: 1.5rem;
      color: $body-bg;
    }
    #txt_area {
      display: inline-block;
      width: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .menu-sort {
      a {
        display: block;
        .iconfont {
          display: block;
          height: 22px;
          line-height: 25px;
        }
        span {
          display: block;
          height: 20px;
          line-height: 20px;
        }
      }
    }
    .search-item {
      text-align: left;
      height: 45px;
      background-color: $theme-orange;
      .panel {
        border: 1px solid red;
        height: 35px;
        line-height: 30px;
        border-radius: 4px !important;
        padding-left: 10px;
        margin-top: 5px;
        .iconfont {
          color: $gray;
        }
        .search {
          display: inline-block;
          width: 85%;
          height: 30px;
          font-size: 1.5rem;
          outline: none;
          border: none;
          color: $gray;
        }
      }
    }
    button {
      width: 100%;
      background-color: $theme-orange;
      color: $body-bg;
      border: none;
      outline: none;
    }
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  background-color: $theme-orange;
  text-align: center;
  color: $body-bg;
  font-size: 2rem;
  z-index: 99;
  margin: auto;

}

.fixed-cart {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 45px;
  background: rgba(000, 000, 000, 0.7) !important;
  filter: Alpha(opacity=70);
  color: $body-bg;
  @include clearfix;
  line-height: 40px;
  .item {
    .total {
      display: inline-block;
      margin-right: 10px;
      span {
        font-size: 1.7rem;
      }
    }
    .submit {
      @include size(90px, 45px);
      background-color: $theme-orange;
      border: 1px solid $theme-orange;
      border-radius: 0 !important;
    }
    &.all-check {
      line-height: 45px;
      padding-left: 10px;
    }
  }
}

.m60 {
  margin-top: 45px !important;
}

.m90 {
  margin-top: 91px !important;
}

.m185 {
  margin-top: 185px !important;
}

.p65 {
  padding-bottom: 65px;
}

.p105 {
  padding-bottom: 105px;
}

.white-bg {
  background-color: $body-bg !important;
}

.gray-bg {
  background-color: $gray-plain-light !important;
}

.color-black {
  color: $gray-base;
}

.icon-kefu {
  color: $backstage-blue !important;
}

.reg-container {
  margin-top: 60px;
  padding-bottom: 45px;
  .reg-step {
    @include clearfix;
    .step-item {
      float: left;
      padding: 5px 2px;
      & + .step-item {
        margin-left: 3px;
      }
      &.on {
        color: $theme-orange;
      }
    }
    @media screen and (max-width: 320px) {
      .step-item {
        font-size: 1.2rem;
      }
    }
  }
  .enter-wrap {
    margin-top: 0px !important;
    .last-panel {
      margin-bottom: 45px;
    }
  }
  .enter-item {
    & + .enter-item {
      margin-top: 15px;
    }
  }
  .secret-phone {
    background: none !important;
    .enter-item {
      background-color: $body-bg;
    }
    .get-code {
      height: 50px;
      line-height: 50px;
      color: $body-bg;
      width: 100%;
      background-color: $theme-orange;
      border: none;
      border-radius: 4px !important;
    }
    &.forget-item {
      .enter-item {
        height: 40px;
        line-height: 40px;
        border: 1px solid $gray-plain-light;
        border-radius: 4px !important;
        padding: 0 10px;
        input[type='text'] {
          width: 100%;
          text-align: left;
        }
      }
      .get-code {
        height: 40px;
        line-height: 40px;
      }
    }
  }
  .tips {
    font-size: 1.5rem;
    margin-bottom: 10px;
    b {
      font-size: 1.7rem;
      display: inline-block;
      padding: 0 5px;
    }
  }
  .edit-wrap {
    background-color: $body-bg;
    &.forget-wrap {
      padding-bottom: 30px;
      .whole-line-item {
        input {
          background-color: $body-bg !important;
          height: 40px !important;
        }
      }
    }
    .item {
      padding: 10px 0;
      &.bordered {
        border-bottom: 1px solid $gray-plain-light;
      }
      @include clearfix;
      .control-label {
        display: inline-block;
        line-height: 30px;
        color: $gray-base;
      }
      input[type='text'], input[type='password'] {
        height: 30px;
        width: 80%;
        text-align: right;
        border: none;
        outline: none;
        &.promotion-code {
          border: 1px solid $gray-plain-light;
          background-color: $gray-plain;
          border-radius: 4px !important;
          text-align: left;
        }
        &.text-left {
          text-align: left;
          width: 100%;
        }
      }
      .whole-line-item {
        input {
          width: 100%;
          text-align: center;
          border-radius: 4px !important;
          border: 1px solid $gray-plain-light;
          background-color: $gray-plain;
          height: 35px;
        }
      }
      .update-img {
        img {
          @include square(35px);
        }
        a {
          display: inline-block;
          position: relative;
          input[type=file] {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
          }
        }
      }
      .right-arrow {
        color: $gray-plain-light;
      }
      .address {
        display: block;
        line-height: 30px;
      }
      &.input-item {
        height: 40px;
        line-height: 40px;
        border: 1px solid $gray-plain-light;
        border-radius: 4px !important;
        padding: 0 10px;
        & + .input-item {
          margin-top: 10px;
        }
      }
    }
  }
  .reg-finally {
    text-align: center;
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
    b {
      font-size: 1.8rem;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.not-required-title {
  height: 40px;
  line-height: 40px;
  background-color: $gray-plain;
  color: $gray-light;
}

/*======================================注册 结束======================================*/
/*======================================首页 开始======================================*/

.shopping-nav {
  .nav-top {
    background-color: $body-bg;
    color: $gray-base;
  }
  .edit {
    color: $gray-base !important;
  }
  .submit-btn {
    border: none;
    outline: none;
    color: $gray-base !important;
    background-color: $body-bg;
    font-size: 1.5rem;
    height: 43px;
  }
}

.nav-bottom {
  background-color: $body-bg !important;
  height: 60px !important;
  border-top: 1px solid $gray-plain-light;
  padding-top: 3px;
  @include clearfix;
  .bottom-menu-item {
    float: left;
    width: 25%;
    color: $gray-light;
    &.on {
      .item-name {
        color: $theme-orange !important;
      }
      .iconfont {
        color: $theme-orange !important;
      }
    }
    .iconfont {
      color: #9d9d9d;
      font-size: 2.5rem;
      display: block;
      height: 30px;
      line-height: 30px;
      vertical-align: bottom;
      &.icon-shouye {
        padding-top: 2px;
      }
      &.icon-gouwuche {
        padding-bottom: 1px;
        position: relative;
        .badge {
          background-color: $theme-orange !important;
          color: $body-bg;
          font-weight: normal !important;
          position: absolute;
          left: 55px;
        }
      }
      &.icon-shangpu {
        padding-top: 2px;
      }
      &.icon-wode {
        padding-top: 2px;
      }
    }
    .fa {
      @extend .iconfont;
    }
  }
}

.add-shopping-num {
  a {
    display: inline-block;
    margin-top: 5px;
    line-height: 50px;
    &:focus, &:hover {
      color: $red;
    }
    .iconfont {
      font-size: 2.6rem;
      vertical-align: middle;
    }
    font-size: 2.5rem;
  }
}

.join-cart {
  .btn {
    height: 60px;
  }
}

.shops-nav-bottom {
  @include clearfix;
  padding: 0 !important;
  .bottom-menu-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @include square(100%);
    float: left;
    border: 1px solid $gray-plain;
    color: $gray-light;
    .contact-seller {
      color: $backstage-blue;
    }
  }
}

.carousel-inner {
  img {
    width: 100%;
  }
}

.carousel-indicators {
  bottom: 0px !important;
  li {
    background-color: #f7c9b2 !important;
  }
  .active {
    @include square(10px);
    margin: 1px !important;
    background-color: $theme-orange !important;
  }
}

.menu-list-wrap {
  height: 120px;
  background-color: $body-bg;
  @include clearfix;
  .list-item {
    float: left;
    width: 20%;
    margin-top: 22px;
    text-align: center;
    .icon {
      display: inline-block;
      background: url("../../images/mobile-images/menu_icons.png") top center no-repeat;
      background-size: 75%;
      @include square(60px);
      &.jiushui {
        background-position: 10px 10px;
      }
      &.shiping {
        background-position: 7px -43px;
      }
      &.chuwei {
        background-position: 7px -98px;
      }
      &.jiaju {
        background-position: 7px -154px;
      }
      &.meirong {
        background-position: 7px -209px;
      }
    }
    .item-name {
      font-size: 1.1rem;
    }
  }
}

.sort-wrap {
  background-color: $body-bg;
  margin-top: 10px;
  .sort-item-title {
    font-size: 1.6rem;
    margin: 10px 0;
    .spot {
      display: inline-block;
      @include square(10px);
      border-radius: 50% !important;
      background-color: #ffd800;
      margin-right: 5px;
    }
  }
  .product-wrap {
    @include clearfix;
    .product-col {
      padding: 1px;
      width: 50%;
      float: left;
      position: relative;
      .product-img {
        width: 100%;
      }
      .product-info {
        padding: 0 8px 5px 8px;
        .product-name {
          color: $gray;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .prompt {
        position: absolute;
        display: inline-block;
        @include size(15px, 25px);
        top: 5px;
        left: 5px;
        background: url("../images/titles.png") no-repeat left top;
        background-size: cover;
      }
      .promotions {
        background-position: 0 0;
      }
      .lack {
        background-position: 0 -58px;
      }
      .new-listing {
        background-position: 0 -29px;
      }
    }
  }
}

/*======================================首页 结束======================================*/
/*======================================搜索 开始======================================*/
.go-back {
  color: $gray !important;
  font-size: 2.5rem !important;
}

.search-nav {
  .search-item {
    line-height: 40px;
    input {
      height: 33px;
      line-height: 33px;
      background-color: $gray-plain-light;
      border: none;
      font-size: 1.5rem;
      color: $gray-base;
      width: 100%;
      padding: 0 5px;
      border-radius: 4px;
    }
  }
  .btn-search {
    border: 1px solid $theme-orange;
    color: $theme-orange;
    background-color: $body-bg;
    border-radius: 15px !important;
    width: 60px;
    margin-top: -3px;
  }
}

.search-page {
  .title {
    color: $word-gray;
    padding: 15px 5px 10px 5px;
    font-size: 1.6rem;
  }
  .search-annal {
    padding-left: 20px;
    span {
      display: inline-block;
      padding: 5px 10px;
      font-size: 1.5rem;
    }
  }
}

.search-prompt {
  color: $theme-orange;
}

/*======================================搜索 结束======================================*/
/*======================================分类 开始======================================*/
.sort-top-nav {
  height: 45px;
  background-color: $body-bg;
  border-bottom: 1px solid $gray-plain;
  padding: 0 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  opacity: 1;
  top: 0;
  @include clearfix;
  .sort-panel {
    overflow: hidden;
    overflow-x: scroll;
    @include square(100%);
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }
  ul {
    white-space: nowrap;
    li {
      display: inline-block;
      overflow: hidden;
      position: relative;
      color: $gray-lighter;
      height: 45px;
      line-height: 40px;
      a {
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 2px;
      }
      &.active {
        a {
          color: $theme-orange;
        }
      }
      & + li {
        margin-left: 5px;
      }
    }
  }
}

.sort-list-wrap {
  .sort-list {
    padding: 0 10px;
    .title {
      font-size: 1.5rem;
      color: $gray-light;
    }
    .list-wrap {
      a {
        display: inline-block;
        background-color: $theme-gray;
        padding: 5px 10px;
        margin: 5px 5px 5px 0;
        color: $gray-darker;
        border-radius: 2px !important;
      }
    }
  }
}

/*======================================分类 结束======================================*/
/*======================================商铺 开始======================================*/
.shop-panel {
  background-color: $body-bg;
  border: 1px solid $gray-plain-light;
  & + .shop-panel {
    margin-top: 10px;
  }
  .shop-item {
    padding: 15px;
    @include clearfix;
    border: 1px solid $gray-plain;
    .shop-img {
      @include square(60px);
      border-radius: 50%;
      float: left;
    }
    .shop-msg-content {
      float: left;
      margin-left: 10px;
      & > div {
        color: $gray-darker;
        & + div {
          margin-top: 3px;
        }
        .prompt {
          color: $word-gray;
        }
      }
      .shop-name {
        b {
          font-size: 1.5rem;
        }
        .prompt {
          font-size: 1rem;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
  .product-item {
    @include clearfix;
    margin-top: -1px;
    .item {
      text-align: center;
      padding: 5px 2px 20px 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 33.3%;
      float: left;
      border: 1px solid $gray-plain;
      position: relative;
      img {
        width: 85%;
      }
      & + .item {
        margin-left: -1px;
      }
      .product-name {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 30px;
        line-height: 30px;
        background: rgba(255, 255, 255, 0.7) !important;
        filter: Alpha(opacity=70);
        background: #fff;
      }
    }
  }
  .shop-list-wrap {
    @include clearfix;
    a {
      display: inline-block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 25%;
      float: left;
      text-align: center;
      padding: 10px 0;
      &.on {
        color: $theme-orange;
        border-bottom: 2px solid $theme-orange;
      }
    }
  }
}

.shop-address-wrap {
  margin-top: 10px;
  .th-title {
    border: 1px solid $banner-gray;
    text-align: center;
    padding: 10px 5px;
    font-weight: 600;
  }
  .td {
    border: 1px solid $banner-gray;
    padding: 10px 5px;
    text-align: center;
    background-color: $body-bg;
    margin-top: -1px;
  }
}

.shop-coupon-wrap {
  margin-top: 10px;
  padding: 0 3px;
  .coupon-item {
    margin-top: 10px;
    color: $body-bg;
    padding: 0 2px !important;
    .item-wrap {
      background: url("images/mobile-images/coupon-bg.png") no-repeat center left;
      background-size: cover;
      height: 75px;
      @include clearfix;
    }
    &:nth-child(even) {

    }
    .price {
      font-size: 2.8rem;
      font-weight: 600;
    }
    .claim {
      font-size: 1.3rem;
    }
    .valid-time {
      color: $gray-light;
      font-size: 1.2rem;
    }
    .left-panel {
      float: left;
      width: 73%;
      padding-left: 10px;
    }
    .right-panel {
      float: right;
      width: 27%;
      padding-left: 5px;
      a {
        color: $body-bg;
        display: inline-block;
        margin: 20px auto auto auto;
        @include clearfix;
        span {
          display: inline-block;
          vertical-align: middle;
          font-weight: 600;
          &.txt {
            width: 30px;
          }
          &.iconfont {
            font-size: 1.5rem;
            margin-left: -8px;
          }
        }
      }
    }
  }
}

.shop-code {
  margin-top: 20px;
  .code {
    @include square(150px);
    line-height: 150px;
    margin: auto;
    background-color: $body-bg;
    text-align: center;
    .img {
      @include square(110px);
    }
  }
  .txt {
    text-align: center;
    margin-top: 20px;
    color: $word-gray;
  }
  .prompt {
    color: $word-gray;
  }
  .contact-info {
    background-color: $body-bg;
    margin-top: 30px;
    padding: 10px;
    border-bottom: 1px solid $gray-plain-light;
    .item {
      @include clearfix;
      padding: 10px 5px;
      .phone-num {
        color: $brand-success;
      }
      .address-item {
        color: $gray-base;
        padding: 5px 0;
      }
    }
  }
  .intro-panel {
    background-color: $body-bg;
    padding: 10px 15px;
    .content {
      padding: 10px 0;
      color: $gray;
    }
  }
}

/*======================================商铺 结束======================================*/

/*======================================购物车 开始======================================*/
.cart-commodity {
  background-color: $body-bg;
  border: 1px solid $gray-plain-light;
  & + .cart-commodity {
    margin-top: 10px;
  }
  .row-panel {
    @include clearfix;
    padding: 5px 10px;
    line-height: 22px;
    .iconfont {
      vertical-align: middle;
      margin-right: 5px;
    }
    .commodity-img {
      @include square(50px);
      vertical-align: middle;
    }
    .commodity-panel {
      width: 74%;
      .num-panel {
        @include clearfix;
      }
      .new {

        @include clearfix;
        padding: 15px 5px;
        line-height: 40px;
        .enter-panel {
          @include clearfix;
          line-height: 40px;
          .less, .plus {
            display: inline-block;
            font-size: 2rem;
            vertical-align: top;
          }
          .enter-num {
            margin: 5px 20px 0 20px;
            vertical-align: middle;
            display: inline-block;
            input {
              @include size(70px, 30px);
              border-radius: 4px !important;
              display: block;
              border: 1px solid $word-gray;
            }
            .min-num {
              display: block;
              height: 20px;
              line-height: 20px;
              font-size: 1rem;
              color: $word-gray;
              text-align: center;
            }
          }
        }
        .remove {
          display: inline-block;
          width: 50px;
          border-left: 1px solid $gray-plain-light;
          text-align: right;
          a {
            &:hover, &:focus {
              color: $red;
            }
          }
        }
      }
    }
  }
  .shop-name-panel {
    padding-top: 15px;
  }
  .commodity-wrap {
    .item {
      height: 70px;
      &.middle-item {
        line-height: 70px;
      }
    }
    .commodity-img {
      @include square(50px);
      vertical-align: middle;
    }
  }
}

.confirm-order {
  .row-panel {
    .commodity-panel {
      width: 80% !important;
    }
  }
  margin-top: 10px !important;
  .other-opera {
    .bordered {
      border-top: 1px solid $gray-plain-light;
      padding: 10px 0;
    }
    .coupon {
      padding: 10px 0;
      span {
        font-size: 1.5rem;
      }
    }
    .remark {
      background-color: $gray-plain;
      border-radius: 4px !important;
      padding: 8px 5px;
      input {
        border: none;
        background-color: $gray-plain;
        width: 80%;
        outline: none;
        margin-left: 5px;
      }
    }
  }
}

.shopping-ideas {
  margin-top: 10px;
  background-color: $body-bg;
  height: 45px;
  line-height: 40px;
  border-bottom: 1px solid $gray-plain-light;
  .prompt {
    font-size: 1.7rem;
  }
  @media (max-width: 320px) {
    .prompt {
      font-size: 1.5rem;
    }
  }
  .item-btn {
    label {
      position: relative;
      height: 30px;
      width: 100%;
      border: 1px solid $gray-plain-light;
      background-color: $body-bg;
      border-radius: 4px !important;
      padding: 6px 2px !important;
      .fa {
        position: absolute;
        right: 1px;
        bottom: 1px;
        display: none;
      }
      .triangle {
        display: none;
      }
      &.active {
        border: 1px solid $theme-orange;
        .fa {
          color: $body-bg;
          display: inline-block;
        }
        .triangle {
          position: absolute;
          display: inline-block;
          @include square(0);
          bottom: 0;
          right: 0;
          border-bottom: 25px solid $theme-orange;
          border-left: 25px solid transparent;
        }
      }
    }
  }
}

.delivery-wrap {
  background-color: $body-bg;
  .item {
    border-bottom: 1px solid $gray-plain-light;
    padding: 10px 0;
    .left-panel {
      padding-left: 12px;
      .delivery-info {
        .name-info {
          font-size: 1.7rem;
          display: inline-block;
          margin-left: 10px;
        }
      }
      .address {
        width: 100%;
        font-size: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 5px;
      }
    }
    &.shopping-ideas {
      margin-top: 0;
    }
  }
  .right-icon {
    line-height: 50px;
    .iconfont {
      color: $gray-lighter;
    }
  }
  .prompt {
    font-size: 1.7rem;
  }
  @media (max-width: 320px) {
    .prompt {
      font-size: 1.5rem;
    }
  }
}

.confirm-order-fixed {
  bottom: 0 !important;
  background-color: $body-bg !important;
  .total {
    color: $gray-base;
  }
}

.coupon-title {
  height: 35px !important;
  line-height: 35px !important;
  font-size: 1.7rem !important;
}

.coupon-panel {
  li {
    @include clearfix;
    padding: 5px 10px;
    & + li {
      border-top: 1px solid $banner-gray;
    }
    .pay-btn {
      border: none;
      background-color: $body-bg;
      color: $gray-base;
      font-size: 1.7rem;
      outline: none;
    }
  }
}

.pay-panel {
  padding: 10px 0 10px 0;
}

.order-success-wrap {
  .content {
    .iconfont {
      color: $theme-orange;
      font-size: 10rem;
    }
    .txt {
      width: 70%;
      font-size: 1.7rem;
      font-weight: 700;
      margin: auto auto 10px auto;
    }
  }
  .btn-panel {
    margin-top: 20px;
    .btn {
      width: 100%;
      height: 40px;
      border-radius: 4px !important;
    }
  }
}

/*======================================购物车 结束========================================*/
/*======================================我的 开始========================================*/
.mine-top-name {
  background-color: $theme-orange;
  height: 120px;
  .shop-name-panel {
    margin-top: 30px;
    @include clearfix;
    .shop-img {
      @include square(60px);
      border-radius: 50%;
    }
    .shop-info {
      padding-top: 5px;
      margin-left: 10px;
      width: 78%;
      .shop-name {
        font-size: 2rem;
        color: $body-bg;
      }
      .shop-address {
        color: #f7ba91;
        margin-top: 3px;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .set-up-icon {
    padding: 10px 10px 10px 0;
    .iconfont {
      color: $body-bg;
      font-size: 2rem;
    }
  }
}

.mine-title {
  display: block;
  @include clearfix;
  border-bottom: 1px solid $gray-plain-light;
  padding: 10px 0;
  .pull-right {
    color: $word-gray;
    .iconfont {
      color: $banner-gray;
    }
  }
  .left-title {
    color: $theme-orange;
    font-size: 1.6rem;
  }
}

.order-sort-panel {
  @include clearfix;
  padding: 10px 0;
  .item {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    .iconfont {
      font-size: 2rem;
      color: $word-gray;
    }
    .badge {
      background-color: $theme-orange;
      vertical-align: top;
      font-weight: normal;
      padding: 2px 5px !important;
      position: absolute;
      left: 62%;
      top: 3px;
    }
  }
}

.mine-list-wrap {
  margin-top: 10px;
  .list-item {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid $gray-plain-light;
    .iconfont {
      &.left-icon {
        color: $theme-orange;
        font-size: 2rem;
        display: inline-block;
        width: 30px;
        text-align: center;
      }
      &.icon-msg {
        color: $backstage-blue;
      }
      &.pull-right {
        color: $banner-gray;
      }
    }
    &:last-of-type {
      border: none;
    }
  }
}

/*======================================我的 结束========================================*/
/*======================================所有订单 开始========================================*/
.all-orders-list {
  background-color: $body-bg;
  margin-top: 10px;
  .list-item {
    @include clearfix;
    .bordered {
      @extend .margin-clear;
      border-top: 1px solid $gray-plain-light;
      border-bottom: 1px solid $gray-plain-light;
    }
    .iconfont {
      color: $banner-gray;
      vertical-align: middle;
    }
    .item {
      @include clearfix;
      padding: 10px 0;
      .shop-name {
        display: block;
        line-height: 22px;
      }
      .item-col {
        padding: 3px 0;
      }
      &.order-title-panel {
        color: $word-gray;
      }
    }
    .commodity-img {
      @include square(50px);
      border: 1px solid $gray-plain-light;
    }
    .commodity-name {
      width: 55%;
      margin-left: 10px;
      padding-top: 2px;
      color: $word-gray;
    }
    .right-num-panel {
      width: 27%;
      text-align: right;
      color: $gray-base;
    }
    .btn-sub {
      margin-top: 10px;
      border-radius: 4px !important;
    }
  }
  .other-item {
    .bordered {
      border-bottom: none;
    }
  }
}

//订单详情
.orders-details-header {
  border-bottom: 1px solid $gray-plain-light;
}

.order-details-footer {
  & > div {
    height: 100%;
    .btn {
      border-radius: 4px !important;
      margin: -1px 10px 3px 0;
    }
  }
}

.orders-details-wrap {
  .order-msg {
    border-bottom: 1px solid $gray-plain-light;
    padding: 10px 0;
  }
  .receiver {
    padding: 10px 15px;
    .address {
      margin-top: 8px;
    }
  }
}

.other-panel {
  padding: 15px;
  .label-name {
    width: 15%;
  }
  .content {
    width: 85%;
  }
  ul {
    li {
      padding: 3px 0;
    }
  }
}

/*======================================所有订单 结束========================================*/
/*======================================我的优惠券 开始========================================*/
.coupon-list-wrap {
  margin-top: 10px;
  height: 90px;
  .money-panel {
    @include size(120px, 100%);
    background: url("/images/mobile-images/coupon-bg.png") no-repeat left center;
    background-size: cover;
    color: $body-bg;
    padding: 5px 10px;
    .price {
      b {
        font-size: 3.5rem;
      }
    }
    .condition {
      text-indent: 1.2rem;
    }
  }
  .shop-panel {
    text-align: right;
    border: none;
    .shop-name {
      color: $gray-base;
      margin-top: 10px;
      font-size: 1.5rem;
    }
    .date {
      margin-top: 20px;
      span {
        color: $gray-light;
      }
      .btn {
        border: 1px solid $theme-orange;
        background-color: $body-bg;
        border-radius: 15px !important;
        color: $theme-orange;
        padding: 4px 8px !important;
        margin-left: 10px;
      }
    }
  }
}

/*======================================我的优惠券 结束========================================*/
/*======================================收货地址 开始========================================*/
.address-list-item {
  margin-top: 10px;
  padding: 15px;
  font-size: 1.5rem;
  .contact-address {
    color: $gray-light;
    margin: 10px 0;
  }
  .opera-wrap {
    border-top: 1px solid $gray-plain-light;
    padding-top: 10px;
    .pull-left {
      color: $gray-light;
      font-size: 1.5rem;
    }
    a {
      display: inline-block;
      color: $gray-light;
      font-size: 1.7rem;
      .iconfont {
        font-size: 2rem;
        vertical-align: top;
      }
      &.remove {
        margin-left: 10px;
      }
    }
  }
}

.address-footer {
  .btn {
    width: 80%;
    border-radius: 4px !important;
  }
}

.set-panel {
  height: 150px;
  padding: 20px 15px;
  .prompt {
    font-size: 2rem;
  }
}

/*======================================收货地址 结束========================================*/
/*======================================我的收藏 开始========================================*/
.collection-tab-menu {
  background-color: $body-bg;
  height: 45px;
  padding: 0 25px;
  a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 1.7rem;
    padding: 0 5px;
    & + a {
      margin-left: 20px;
    }
    &.active {
      color: $theme-orange;
      border-bottom: 1px solid $theme-orange;
    }
  }
}

.collection-container {
  background-color: $body-bg;
  margin-top: 10px;
  .shop-list-item {
    img {
      @include square(60px);
      border-radius: 50%;
    }
    padding: 15px;
    border-bottom: 1px solid $gray-plain-light;
    .opera-panel {
      margin-left: 10px;
      .shop-name {
        margin-top: 6px;
        b {
          font-size: 1.5rem;
        }
        .prompt {
          font-size: 1rem;
        }
      }
      .amount {
        margin-top: 5px;
      }
    }
  }
}

.collection-commodity-container {
  background-color: $body-bg;
  margin-top: 10px;
  .shop-list-item {
    padding: 8px 15px;
    border-bottom: 1px solid $gray-plain;
    img {
      @include square(60px);
    }
    .commodity-name {
      margin: 10px 0 0 10px;
      width: 79%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

/*======================================我的收藏 结束========================================*/
/*======================================商品详情 开始========================================*/
.commodity-details-nav {
  background: rgba(255, 255, 255, 0.8) !important;
  filter: Alpha(opacity=80);
}

.nav-shopping-cart {
  line-height: 39px;
  padding-right: 30px;
  .iconfont {
    font-size: 2.2rem;
    color: $gray-light;
    position: relative;
  }
  .badge {
    padding: 2px 5px !important;
    color: $body-bg;
    background-color: $theme-orange;
    position: absolute;
    top: 1px;
    right: -15px;
  }

}

.details-banner {
  width: 100%;
}

.commodity-details-item {
  padding: 5px 0;
  .item {
    padding: 5px 15px;
  }
}

.shop-entrance {
  padding: 15px;
  border-top: 1px solid $gray-plain-light;
  border-bottom: 1px solid $gray-plain-light;
  .iconfont {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
  }
  .shop-name {
    font-size: 1.7rem;
    margin-left: 5px;
  }
  .role {
    font-size: 1rem;
  }
}

.tab-wrap {
  height: 50px;
  line-height: 50px;
  .item {
    display: inline-block;
    width: 49%;
    text-align: center;
    a {
      display: inline-block;
      height: 50px;
      &.active {
        color: $theme-orange;
        border-bottom: 1px solid $theme-orange;
      }
    }
  }
}

.tab-container {
  .tuwen-content {
    img {
      width: 100%;
      margin-top: 10px;
    }
  }
  .address-content {
    .item {
      padding: 10px 5px;
      text-align: center;
      border: 1px solid $banner-gray;
      &.title {
        background-color: $gray-plain;
        font-weight: 600;
      }
      & + .item {
        margin-top: -1px;
      }
    }

  }
}

/*======================================商品详情 结束========================================*/

/*======================================复选框 开始======================================*/
label {
  vertical-align: middle !important;
}

.check, .chk_3 {
  display: none;
}

.check + label {
  background-color: #FFF;
  border: 1px solid #C1CACA;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  line-height: 15px !important;
}

.check + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.check:checked + label {
  background-color: #ECF2F7;
  border: 1px solid #92A1AC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #243441;
}

.check:checked + label:after {
  content: '\2714';
  position: absolute;
  top: 0;
  left: 0;
  color: #758794;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  padding: 1px 0 0 0;
  vertical-align: text-top;
}

.chk_3 + label {
  display: block;
  background-color: #fafbfa;
  padding: 9px;
  border-radius: 50px;
  position: relative;
  margin-right: 30px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 40px;
  height: 15px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.chk_3 + label:after {
  content: ' ';
  position: absolute;
  top: 0;
  -webkit-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0, 0, 0, 0.4);
}

.chk_3 + label:before {
  content: ' ';
  position: absolute;
  background: white;
  top: 1px;
  left: 1px;
  z-index: 999999;
  width: 31px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  height: 31px;
  border-radius: 100px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.3);
}

.chk_3:active + label:after {
  box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

.chk_3:active + label:before {
  width: 37px;
}

.chk_3:checked:active + label:before {
  width: 37px;
  left: 20px;
}

.chk_3 + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.chk_3:checked + label:before {
  content: ' ';
  position: absolute;
  left: 26px;
  border-radius: 100px;
}

.chk_3:checked + label:after {
  content: ' ';
  font-size: 1.5em;
  position: absolute;
  background: #4cda60;
  box-shadow: 0 0 1px #4cda60;
}

/*======================================复选框 结束======================================*/

/*======================================三级联动 开始======================================*/
.ui-dialog {
  font-family: "Microsoft YaHei" !important;
  box-sizing: border-box;
  pointer-events: auto;
  display: none;
  /*  border: 1px solid #ccc; */
  background-color: #fff;
  font-family: arial, 'Hiragino Sans GB', sans-serif;
  position: absolute;
  /* left:40%;top:40%; */
}

.ui-dialog-close {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  font-family: cursive;
}

.ui-dialog-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: .7;
  display: none;
  filter: alpha(opacity=70);
}

.ui-dialog-title {
  background-color: #288df0;
  color: #fff;
  padding: 5px 10px;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  display: none \0
  !important;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

#confirmDialog {
  width: 350px;
  background-color: #fff;
}

.ui-confirm-title, .ui-alert-title {
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 25px;
  padding: 27px 0 20px 0;
}

.confirm-title2 {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  text-align: center;
  line-height: 1.8;
}

.ui-dialog-cancel {
  background-color: #999999;
}

.ui-dialog-action {
  height: 45px;
  line-height: 45px;
  border-collapse: collapse;
  border-spacing: 0;
  pointer-events: auto;
  text-align: center;
  width: 100%;
  border-top: 1px solid #dcdcdc;
  padding: 0;
  margin: 0;
}

.ui-dialog-action td {
  text-align: center;
  border: none;
}

.ui-dialog-action button, .ui-dialog-action a {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  color: #47b5ca;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.ui-dialog-action .ui-confirm-close, .ui-dialog-action .ui-confirm-no {
  color: #747474;
  border-left: 1px solid #dcdcdc;
}

.ui-alert {
  border-radius: 5px;
  overflow: hidden;
}

.ui-alert .ui-dialog-close {
  display: none;
}

.ui-alert .ui-alert-submit {
  margin: 0 auto;
}

.ui-alert-info {
  text-align: center;
  margin-top: 20px;
}

.ui-alert-tip {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ui-alert-tip .ui-alert-title {
  color: #fff !important;
  padding: 27px 25px;
}

/*selectarea*/
.ui-dialog {
  box-sizing: border-box;
}

.ui-scroller {
  position: relative;
  height: 125px;
  width: 100%;
  min-width: 260px;
  font-size: 14px;
  font-weight: normal;
}

.ui-scroller > div {
  width: 33%;
  display: inline-block;
  position: relative;
  height: 125px;
  overflow: hidden;
  box-sizing: border-box;
}

.ui-scroller dl {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 30px;
}

.ui-scroller dd {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.ui-scroller {
  -webkit-mask: -webkit-gradient(linear, 0% 30%, 0% 100%, from(rgba(222, 187, 71, 1)), to(rgba(36, 142, 36, 0)));
}

.ui-scroller-mask {
  -webkit-mask: -webkit-gradient(linear, 0% 30%, 0% 0%, from(rgba(222, 187, 71, 1)), to(rgba(36, 142, 36, 0)));
}

.ui-scroller p {
  position: absolute;
  top: 30px;
  height: 30px;
  width: 100%;
  margin: 0;
  z-index: -1;
  border: 1px solid #e2e2e2;
  border-left: none;
  border-right: none;
}

.ui-scroller .ui-dialog-action {
  margin-top: 10px;
}

.ui-dialog-bottom {
  border-radius: 0;
}

.ui-dialog-bottom .ui-dialog-action .ui-confirm-close, .ui-dialog-action .ui-confirm-no {
  border: none;
}

/*======================================三级联动 结束======================================*/
/*======================================遮罩层 开始======================================*/
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
  background-image: url("../images/new-loading.gif");
  background-position: center;
  background-repeat: no-repeat;
}

/*======================================遮罩层 结束======================================*/
/*======================================支付 开始======================================*/
.pay-wrap {
  .item {
    border-top: 1px solid $gray-plain;
    padding: 10px;
  }
  .pay-type-warp {
    .prompt {
      padding: 15px 0;
      color: $gray-base;
    }
    .pay-type-item {
      padding: 10px 5px;
      input {
        margin-right: 10px;
      }
      img {
        width: 110px;
      }
    }
  }
}

.pay-footer {
  bottom: 10px;
  height: 100px;
  .prompt {
    font-size: 1.3rem;
  }
  .submit {
    width: 90%;
    margin: auto;
    border-radius: 4px !important;
    border: 1px solid $theme-orange;
    background-color: $theme-orange;
    color: $body-bg;
  }
}

/*======================================支付 结束======================================*/